<div class="box" >
  <h3><%= :showing_ad %></h3>
  <p>
    <b>
      <%= :name %>
    </b>
    <%= h @ad.name %>
  </p>
  <p>
    <b>
      <%= :html %>
    </b>
    <%= raw @ad.html %>
  </p>
  <p>
    <b>
      <%= :frequency %>
    </b>
    <%= h @ad.frequency %>
  </p>
  <p>
    <strong>
      <%= :published %>
     </strong>
    <%= @ad.published? %>
  </p>
  <p>
    <b>
      <%= :run %>
    </b>
    <%= h @ad.time_constrained? ? "#{@ad.start_date.to_formatted_s(:long)} - #{@ad.end_date.to_formatted_s(:long)}" : 'n/a' %>
  </p>
  <p>
    <b>
      <%= :location %>
    </b>
    <%= h @ad.location %>
  </p>
</div>

  <%= link_to :edit, edit_ad_path(@ad) %>
  <%= link_to :back, ads_path %>
