<% @avatar = @avatar ? @avatar : @user.avatar %>
<% @photo = @photo ? @photo : @user.avatar %>
<div class="background_hider" onclick="<%= @avatar ? 'hide_change_avatar()' : "$('#change_avatar_wrapper').fadeOut();" %> "></div>
<div id="change_avatar">
  <div class="change_avatar_background">
    <h1><%= l(:change_profile_photo) %></h1>
    
    <div class="alt first_alt" >
      <%= form_for Photo.new, :url => upload_profile_photo_user_path(@user), 
              :remote => true, :multipart =>true, :html => {:id => 'upload_avatar_form'} do |form| %>
        <label>
          <%= l(:choose_a_photo_for_your_profile) %>
          <%= form.file_field :photo, :id => 'uploadFile' %>
        </label>
      <%end%>
    </div>
      
    <%if !@photo.nil? && Photo.file_exists?(@photo,:large) %>
      <h3 style="margin-bottom:4px;"><%= l(:profile_photo_crop) %></h3>
      <%= image_tag( @photo.photo.url(:original), :id => 'cropbox', :style=>"max-width:430px") %>
      <%= hidden_field_tag( 'original_height', "#{@photo.photo_geometry(:original).height}") %>
      <%= hidden_field_tag( 'original_width', "#{@photo.photo_geometry(:original).width}") %>
      <%= form_for(@photo, :url => crop_profile_photo_user_path(@user), :remote => 'true', :method => :put, :html => { :id => "crop_form" }) do |f| %>
        <%= hidden_field_tag( 'avatar_id', "#{@photo.id}") %>
        <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
          <%= f.hidden_field attribute, :id => attribute%>
        <%end%>
        <p>
          <%= submit_tag l(:update) %>
          <%= link_to_function l(:cancel_and_go_back_to_my_photos), "hide_change_avatar()", :class => 'button' %>
        </p>
      <%end%>
    <% else %>  
      <h3 style="margin-bottom:4px;">&nbsp;</h3>
      <%= image_tag( 'avatar.png', :style=>"max-width:430px") %>
      <p><%= link_to_function l(:cancel_and_go_back_to_my_photos), "$('#change_avatar_wrapper').fadeOut();", :class => 'button' %></p>
    <% end %>
  </div>
  <div class="arrow_to_avatar"></div>
</div>

<script type="text/Javascript" charset="utf-8">
$(function() {
  <%if params[:format] %>
    $('#preview').attr('src','<%= @photo.photo.url(:original) %>');
  <% end %>
  $(document).one('change', '#uploadFile', function(){
    console.log(jQuery( $('#uploadFile') ).data( "events" ));
    $('#upload_avatar_form').ajaxSubmit({
      beforeSubmit: function(a,f,o) {o.dataType = 'json';},
      complete: function(XMLHttpRequest, textStatus) {
        $('#change_avatar_wrapper').html(XMLHttpRequest.responseText);
        $("#cropbox").Jcrop({
          onChange: update_crop,
          onSelect: update_crop, 
          setSelect: [0,0,500,500],
          aspectRatio: 1
        });
      }
    });
  });
});
</script>