<%= image_tag( user.avatar_photo_url(:thumb), :size => "100x100", :class => "rounded_image" )%>

<div class="user_information_main">
  <% unless user.pref.hide_mail %>
    <label><%=l(:field_mail)%>:</label> <%= mail_to(h(user.mail), nil, :encode => 'hex') %><br/>
  <% end %>
    <label><%=l(:field_department)%>:</label> <%= user.department %><br/>
    <% unless user.street.blank? %><label><%=l(:field_adress)%>:</label> <%= h(user.street) %><br/><% end %>
    <% unless user.city.blank? %><label>&nbsp;</label> <%= h(user.zipcode) %> <%= h(user.city) %><br/><% end %>
    <% unless user.phone.blank? %><label><%=l(:field_phone)%>:</label> <%= h(user.phone) %><br/><% end %>
    <% unless user.fax.blank? %><label><%=l(:field_fax)%>:</label> <%= h(user.fax) %><br/><% end %>
  <% user.visible_custom_field_values.each do |custom_value| %>
    <% if !custom_value.value.blank? %>
      <%=h custom_value.custom_field.name%>: <%=h show_value(custom_value) %>
    <% end %>
  <% end %>
</div>

<% unless memberships.empty? %>
  <h3 style="margin-bottom:-5px;"><%=l(:label_project_plural)%></h3>
  <ul>
  <% for membership in memberships %>
    <li><%= link_to_project(membership.project) %>
      (<%=h membership.roles.sort.collect(&:to_s).join(', ') %>)</li>
  <% end %>
  </ul>
<% end %>