<% content_for :sidebar_right do %>
  <ul><li><%= link_to l(:label_user_new), new_user_path, :class => 'icon icon-plus-sign' %></li></ul>
<%end%>

<h2><%=l(:label_user_plural)%></h2>

<%= form_tag({}, :method => :get) do %>
<fieldset>
  <legend><%= l(:label_filter_plural) %></legend>
  <label for='status'><%= l(:field_status) %>:</label>
  <%= select_tag 'status', users_status_options_for_select(@status), :class => "small", :onchange => "this.form.submit(); return false;"  %><br/>

  <% if @groups.present? %>
  <label for='group_id'><%= l(:label_group) %>:</label>
  <%= select_tag 'group_id', content_tag('option') + options_from_collection_for_select(@groups, :id, :name, params[:group_id].to_i), :onchange => "this.form.submit(); return false;"  %><br/>
  <% end %>

  <label for='name'><%= l(:label_user) %>:</label>
  <%= text_field_tag 'name', params[:name], :size => 30 %>
  <%= submit_tag l(:button_apply), :class => "small", :name => nil %>
  <%= link_to l(:button_clear), users_path, :class => 'button' %>
</fieldset>
<% end %>
&nbsp;
<div class="autoscroll">
  <%= render :partial => 'users_table', :locales => {@users => @users} %>
</div>
<p class="pagination"><%= pagination_links_full @user_pages, @user_count %></p>

<% html_title(l(:label_user_plural)) -%>
