<div id="profile_details">
  <%= form_for @avatar, :url => upload_profile_photo_user_path(@user), :method => 'put', :multipart =>true, :html => {:class => 'MainForm'} do |f| %>

    <%= error_messages_for @avatar %>
    <h3><%= l(:profile_photo) %></h3>
     <%#= @user.vendor ? "<div class='right_corner'><div class='community_pro'></div></div>" : '' %>
    <p>
      <%= image_tag( @user.avatar_photo_url(:medium), :class => "polaroid" ) %>
    </p>

    <label>
      <%= l(:choose_a_photo_for_your_profile) %>
      <%= f.file_field :photo, :size => "20" %>
    </label>
    <p>
      <%= submit_tag l(:save_changes) %>
  </p>
  <%end%>
</div>