<h1>
  <% if @user_message.directory == 'sent' %>
    <%= "#{l(:label_user_messages_to)} #{render :partial => 'sent', :locals => {:user_message => @user_message}}" %>
  <%else%>
    <%= "#{l(:label_user_messages_from)} #{render :partial => 'received', :locals => {:user_message => @user_message}}" %>
  <%end%>
</h1>

<div id="show_user_message">
    <fieldset>
    <legend><%=h @user_message.subject.truncate(20) %></legend>
    <%= "#{l(:label_user_messages_subject)}: "%><span class="subject"><%=h @user_message.subject %></span>
    <div class="date" style="float: right"><%= format_time(@user_message.created_at) %></div>
    <div class="author">
      <%= "#{l(:author)}: "%>
      <% if(@directory == 'sent') %>
        <%= render :partial => 'sent', :locals => { :user_message => @user_message } %>
      <% else %>
        <%= render :partial => 'received', :locals => { :user_message => @user_message } %>
      <% end %>
    </div>
  </fieldset>
  <fieldset class="collapsable" id='previous_message'>
      <legend onclick="toggleFieldset(this)"><%= l(:message) %></legend>
      <div> 
        <%= textilizable @user_message, :body %>
      </div>
    </fieldset>
</div>

<%= render :partial => "user_message_side_menu"%>

<%if @user_message.group_invitations.any? %>
  <% @user_message.group_invitations.each do |inv| %>
      <%= render :partial => "group_invitations/selection", :locals => {:invitation => inv} %>
  <%end%>
<%end%>