<%= labelled_form_for @issue, :html => {:id => 'issue-form', :multipart => true} do |f| %>
    <%= error_messages_for 'issue', 'time_entry' %>
    <%= render :partial => 'conflict' if @conflict %>
    <div class="box">
    <% if @edit_allowed || !@allowed_statuses.empty? %>
        <fieldset class="tabular"><legend><%= l(:label_change_properties) %></legend>
          <div id="all_attributes">
            <%= render :partial => 'form', :locals => {:f => f} %>
          </div>
        </fieldset>
    <% end %>

    <%= link_to_attachments @issue %>
    <p><%= render :partial => 'attachments/form', :locals => {:container => @issue, :no_form => :true} %></p>
    </div>

    <% unless @issue.project.nil? %>
    <fieldset>
      <%# if @issue.safe_attribute? 'watcher_user_ids' -%>
      <label><%= l(:label_issue_watchers) %></label><br />
        <p id="watchers_form">
        <span id="watchers_inputs">
          <%= watchers_checkboxes(@issue) %>
        </span>
        </p>
      <%# end %>
    </fieldset>
    <% end %>

    <%= f.hidden_field :lock_version %>
    <%= hidden_field_tag 'last_journal_id', params[:last_journal_id] || @issue.last_journal_id %>
    <div class="btn-group" style="float:right">
        <%= link_to l(:button_submit), "#top", :class => 'btn', :onclick =>"$('#hidden_submit').attr('name','commit');$('#issue-form').submit();" %>
        <%= link_to l(:button_cancel), {:action => 'show', :id => @issue.id}, :class => 'btn', :style => 'float:right' %>
    </div>
    <%= hidden_field_tag 'hidden_submit', '' %>
    <%#= submit_tag l(:button_submit) %>
    <%#= link_to l(:button_cancel), {:action => 'show', :id => @issue.id}, :class => "button" %></p>
    <%#= preview_link preview_edit_issue_path(:project_id => @project, :id => @issue), 'issue-form' %>
<% end %>
