<% if issues && issues.any? %>
<%= form_tag({}) do %>
  <table class="list issues" width="100%">
    <tbody>
    <% for issue in issues %>
      <tr id="issue-<%= h(issue.id) %>" class="hascontextmenu <%= cycle('odd', 'even') %> <%= issue.css_classes %>">
        <td class="own_issue"><%= link_to ({:controller => 'issues', :action => 'show', :id => issue}) do %>
          <%= h(truncate(issue.subject, :length => 60)) %>
          <div class="issue_preview" >
        <!--td class="id">
          <%= check_box_tag("ids[]", issue.id, false, :style => 'display:none;', :id => nil) %>
          <%= link_to(h(issue.id), :controller => 'issues', :action => 'show', :id => issue) %>
        </td -->
            <%= render_issue_tooltip_small(issue) %>
          </div>
          <% end %>
        </td>
      </tr>
    <% end %>  
    </tbody>
  </table>
<% end %>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'issues' %>
<% end %>
