<% if issues && issues.any? %>
<%= form_tag({}) do %>
  <table class="list issues" width="100%">
    <tbody>
    <% for issue in issues %>
      <tr id="issue-<%= h(issue.id) %>" class="hascontextmenu <%= cycle('odd', 'even') %> <%= issue.css_classes %>">
        <!--td class="id">
          <%= check_box_tag("ids[]", issue.id, false, :style => 'display:none;', :id => nil) %>
          <%= link_to(h(issue.id), :controller => 'issues', :action => 'show', :id => issue) %>
        </td -->
        <th style="padding-top:5px;"><%=l(:field_project)%>: <%= link_to_project(issue.project) %></th>
        <td><%= link_to h(truncate(issue.subject, :length => 60)), :controller => 'issues', :action => 'show', :id => issue %>
</td>
      </tr>
      <tr>
        <td valign="top">
          <%=l(:field_tracker)%>: <%=h issue.tracker %><br/>
          <%=l(:field_status)%>: <%=h issue.status %>
        </td>
        <td width="70%">
          <span style="overflow:hidden; height:40px; display:block; font-style:italic"><%= issue.description %></span>
        </td>        
      </tr>
    <% end %>  
    </tbody>
  </table>
<% end %>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
