<%= form_tag({}) do -%>
<%= hidden_field_tag 'back_url', url_for(params), :id => nil %>
<div class="autoscroll">
  <div class="list issues" id="content" width="97%" cellpadding="0" cellspacing="0">
    <% if 1==0 %>
    <div class="sort_buttons">
      <%= content_tag('div', l(:label_sortby)+" :", :style => 'float:left', :class => 'sortby') %>
      <%#= content_tag('div', sort_link('id', 'ID', 'desc'), :style => 'float:left', :class => 'first') %>
      <%= content_tag('div', sort_link('subject', l(:field_subject), 'asc'), :style => 'float:left', :class => 'first') %>
      <%= content_tag('div', sort_link('tracker', l(:label_tracker), 'asc'), :style => 'float:left') %>
      <%= content_tag('div', sort_link('status', l(:label_issue_status), 'asc'), :style => 'float:left') %>
      <%= content_tag('div', sort_link('priority', l(:field_priority), 'asc'), :style => 'float:left') %>
      <%= content_tag('div', sort_link('created_on', l(:field_created_on), 'asc'), :style => 'float:left') %>
    </div>
    <div class="clear"></div>
    <% end %>

    <% @issues_by_group.each do |key, issue_list| -%>
      <% is_open = @issues_by_group.size > 1 ? false : true %>
      <% project = Project.find_by_name(key) %>
      <fieldset class="collapsable" style="padding:5px 10px 10px 10px;">
      <% if (@issues_by_group.size>1) || (!key.nil? && !key.empty? && params[:id].nil?) %> 
        <legend <%= "onclick=toggleFieldset(this)" unless @issues_by_group.size==1 %>>
          <%= key.strip %>
        </legend>
      <% end -%>
      <div class="content">
        <% if issue_list && issue_list.any? %>
          <%= form_tag({}) do %>
            <table class="list issues" width="100%" cellpadding="0" cellspacing="0">
              <tbody>
              <% issue_list.each do |issue| %>
                <tr id="issue-<%= h(issue.id) %>" class="hascontextmenu <%= cycle('odd', 'even') %> <%= issue.css_classes %>">
                  <td>
                    <%= render :partial => 'issues/list_helper', :locals => { :issue => issue, :open_element => is_open, :project => project } %>
                    <% issue_list(Issue.find_all_by_parent_id(issue).sort_by(&:lft)) do |child| %>
                      <div class="child">
                        <%= render :partial => 'issues/list_helper', :locals => { :issue => child, :open_element => is_open, :project => project } %>
                        <% issue_list(Issue.find_all_by_parent_id(child).sort_by(&:lft)) do |childchild| %>
                          <div class="child">
                            <%= render :partial => 'issues/list_helper', :locals => {:issue => childchild, :open_element => is_open, :project => project } %>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          <% end %>
        <% else %>
          <p class="nodata"><%= l(:label_issues) %></p>
        <% end %>
  
      </div>
      </fieldset>
      <div class="clear"></div>
  <% end -%>
  </div>
</div>
<% end -%>
