<%= form_tag({}) do -%>
<%= hidden_field_tag 'back_url', url_for(params), :id => nil %>
<div class="autoscroll">

  <table class="list issues" width="100%">
    <tbody>
    <% issue_list(issues) do |issue, level| -%>
      <tr id="issue-<%= h(issue.id) %>" class="hascontextmenu <%= cycle('odd', 'even') %> <%= issue.css_classes %>">
        <!--td class="id">
          <%= check_box_tag("ids[]", issue.id, false, :style => 'display:none;', :id => nil) %>
          <%= link_to(h(issue.id), :controller => 'issues', :action => 'show', :id => issue) %>
        </td -->
        <th><%=l(:field_project)%>:</th>
        <th style="font-weight: normal"><%= link_to h(truncate(issue.subject, :length => 60)), :controller => 'issues', :action => 'show', :id => issue %>
</td>
      </tr>
      <tr>
        <td valign="top">
          <label><%=l(:field_tracker)%>:</label> <span class="info"><%=h issue.tracker %></span><br/>
          <label><%=l(:field_status)%>:</label> <span class="info"><%=h issue.status %></span>
        </td>
        <td width="70%" valign="top">
          <span style="overflow:hidden; height:40px; display: block; font-weight: 500;" class="info"><%= issue.description %></span>
        </td>        
      </tr>
    <% end %>
    </tbody>
  </table>
  
<!--  
<table class="list issues">
    <thead><tr>
        <th class="checkbox hide-when-print"><%= link_to image_tag('toggle_check.png'), {}, :onclick => 'toggleIssuesSelection(Element.up(this, "form")); return false;',
                                                           :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}" %>
        </th>
    <%= sort_header_tag('id', :caption => '#', :default_order => 'desc') %>
        <% query.columns.each do |column| %>
          <%= column_header(column) %>
        <% end %>
  </tr></thead>
  <% previous_group = false %>
  <tbody>
  <% issue_list(issues) do |issue, level| -%>
  <% if @query.grouped? && (group = @query.group_by_column.value(issue)) != previous_group %>
    <% reset_cycle %>
    <tr class="group open">
      <td colspan="<%= query.columns.size + 2 %>">
        <span class="expander" onclick="toggleRowGroup(this);">&nbsp;</span>
        <%= group.blank? ? 'None' : column_content(@query.group_by_column, issue) %> <span class="count">(<%= @issue_count_by_group[group] %>)</span>
        <%= link_to_function("#{l(:button_collapse_all)}/#{l(:button_expand_all)}", "toggleAllRowGroups(this)", :class => 'toggle-all') %>
      </td>
    </tr>
    <% previous_group = group %>
  <% end %>
  <tr id="issue-<%= issue.id %>" class="hascontextmenu <%= cycle('odd', 'even') %> <%= issue.css_classes %> <%= level > 0 ? "idnt idnt-#{level}" : nil %>">
    <td class="checkbox hide-when-print"><%= check_box_tag("ids[]", issue.id, false, :id => nil) %></td>
    <td class="id"><%= link_to issue.id, issue_path(issue) %></td>
        <%= raw query.columns.map {|column| "<td class=\"#{column.css_classes}\">#{column_content(column, issue)}</td>"}.join %>
  </tr>
  <% end -%>
  </tbody>
</table>
-->
</div>
<% end -%>
