<div id="titleOfProject"><h1><%= link_to(h(@project.name), :controller => 'projects', :action => 'show', :id => @project.id).html_safe %> <i class="icon-beaker"></i></h1></div>
<h2 style="float:left"><%= @issue.subject %><%#= issue_heading(@issue) %> <i class="icon-check"></i></h2>
<%= link_to l(:button_cancel), {:action => 'show', :id => @issue.id}, :class => 'btn', :style => 'float:right' %>
<!--h2><%=h "#{@issue.tracker.name} ##{@issue.id}" %></h2-->
<div class="clear"></div>
<% if params[:update].nil? %>
  <%= render :partial => 'edit' %>
<% elsif params[:update] == 'timelog' %>
  <%= render :partial => 'log_time' %>
<% end %>
<% content_for :header_tags do %>
    <%= robot_exclusion_tag %>
    <%= stylesheet_link_tag 'issues' %>
    <%= javascript_include_tag 'ckeditor/ckeditor.js' %>
    <%= stylesheet_link_tag 'ckeditor/editor' %>
<% end %>