<div id="titleOfProject"><h1><%= link_to h(@project.name), :controller => 'projects', :action => 'show', :id => @project.id unless @project.nil? %> <i class="icon-beaker"></i></h1></div>

<%= call_hook(:view_issues_new_top, {:issue => @issue}) %>

<%= labelled_form_for @issue, :url => project_issues_path(@project),
                             :html => {:id => 'issue-form', :multipart => true} do |f| %>
  <%#= error_messages_for 'issue' %>
  <%= hidden_field_tag 'copy_from', params[:copy_from] if params[:copy_from] %>
  <%= hidden_field_tag 'parent_id', params[:parent_issue_id] if params[:parent_issue_id] %>
  <%= hidden_field_tag 'hidden_submit', '' %>

  <h2 style="float:left; position:absolute"><%= l(:label_issue_new) %> <i class="icon-check"></i></h2>
  <div class="btn-group" style="float:right;">
    <% unless params[:parent_issue_id] %>
        <%= link_to l(:button_cancel), {:controller => 'projects', :action => 'show', :id => @project.id}, :class => 'btn', :style => '60px' %>
    <% else %>
      <%= link_to l(:button_cancel), {:controller => 'issues', :action => 'show', :id => "#{params[:parent_issue_id] if params[:parent_issue_id]}"}, :class => 'btn', :style => '60px' %>
    <% end %>
    <%= link_to l(:button_create), "#top", :class => 'btn', :onclick =>"$('#hidden_submit').attr('name','commit');$('#issue-form').submit();" %>
    <%= link_to l(:button_create_and_continue), "", :class => 'btn', :onclick =>"$('#hidden_submit').attr('name','continue');$('#issue-form').submit();" %>
    <%#= submit_tag l(:button_create), :class => 'btn' %>
    <%#= submit_tag l(:button_create_and_continue), :class => 'btn', :name => 'continue' %>
  </div>

  <div class="clear"></div>
  <div class="box" style="padding-top: 10px;">
    <fieldset class="tabular"><legend><%= l(:label_issue_new) %></legend>
      <div id="all_attributes">
        <%= render :partial => 'form', :locals => {:f => f} %>
      </div>
    </fieldset>

    <p><%= render :partial => 'attachments/form', :locals => {:container => @issue} %></p>
    
    <% if @issue.safe_attribute? 'watcher_user_ids' -%>
    <fieldset>
      <label><%= l(:label_issue_watchers) %></label><br />
        <p id="watchers_form">
        <span id="watchers_inputs">
          <%= watchers_checkboxes(@issue, @available_watchers) %>
        </span>
        <span class="search_for_watchers">
        <%= link_to l(:label_search_for_watchers),
                    {:controller => 'watchers', :action => 'new', :project_id => @issue.project},
                    :remote => true,
  				  :method => 'get' %>
        </span>
        </p>
    </fieldset>
    <% end %>
  </div>

  <% if @copy_from && @copy_from.attachments.any? && 1==0 %>
  <p>
    <label for="copy_attachments"><%= l(:label_copy_attachments) %></label>
    <%= check_box_tag 'copy_attachments', '1', @copy_attachments %>
  </p>
  <% end %>
  <% if @copy_from && !@copy_from.leaf? %>
  <p>
    <label for="copy_subtasks"><%= l(:label_copy_subtasks) %></label>
    <%= check_box_tag 'copy_subtasks', '1', @copy_subtasks %>
  </p>
  <% end %>

  <div class="btn-group" style="float:right;">
    <% unless params[:parent_issue_id] %>
        <%= link_to l(:button_cancel), {:controller => 'projects', :action => 'show', :id => @project.id}, :class => 'btn', :style => '60px' %>
    <% else %>
      <%= link_to l(:button_cancel), {:controller => 'issues', :action => 'show', :id => "#{params[:parent_issue_id] if params[:parent_issue_id]}"}, :class => 'btn', :style => '60px' %>
    <% end %>
    <%= link_to l(:button_create), "#top", :class => 'btn', :onclick =>"$('#hidden_submit').attr('name','commit');$('#issue-form').submit();" %>
    <%= link_to l(:button_create_and_continue), "", :class => 'btn', :onclick =>"$('#hidden_submit').attr('name','continue');$('#issue-form').submit();" %>
    <%#= submit_tag l(:button_create), :class => 'btn' %>
    <%#= submit_tag l(:button_create_and_continue), :class => 'btn', :name => 'continue' %>
  </div>

  <%#= link_to l(:button_cancel), {:controller => 'projects', :action => 'show', :id => @project.id}, :class => 'button', :style => '60px' %>
  <%#= submit_tag l(:button_create) %>
  <%#= submit_tag l(:button_create_and_continue), :name => 'continue' %>

  <%= javascript_tag "$('#issue_subject').focus();" %>
<% end %>


<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'issues' %>
    <%#= stylesheet_link_tag 'scm' %>
    <%= robot_exclusion_tag %>
    <%= javascript_include_tag 'ckeditor/ckeditor.js' %>
    <%= stylesheet_link_tag 'ckeditor/editor' %>
<% end %>
