<div id="titleOfProject"><h1><%= link_to(h(@project.name), :controller => 'projects', :action => 'show', :id => @project.id).html_safe unless @project.nil? %></h1></div>
<h2><%= @issue.subject %><%#= issue_heading(@issue) %></h2>
<% unless @subissue.nil? %>
  <div style="font-weight: 300; margin-top:-15px; margin-bottom:10px;">(<%= l(:label_subissue)%> <%= link_to(@subissue.subject, issue_path(@subissue)) %>)</div>
<% end %>

<% if Issue.visible.open.where(:project_id => @project.id).count > 1 %>
  <% content_for :sidebar_left do %>
    <div class="headline"><%= l(:label_navigation) %></div>
    <%= render :partial => 'issues/list_very_simple_sidebar', :locals => { :current => @issue } %>
  <% end %>
<% end %>

<div class="<%= @issue.css_classes %> details" style="position:relative">
  <%# -------------- deaktiviert ------------------ %>
  <% if (@prev_issue_id || @next_issue_id) && 1==0 %>
    <div class="next-prev-links">
      <div class="prev<%= " first" if @issue_position==1 %>">
      <%= link_to_if @prev_issue_id,
                     "\xc2\xab #{l(:label_previous)}",
                     (@prev_issue_id ? issue_path(@prev_issue_id) : nil),
                     :title => "##{@prev_issue_id}" %>
      </div>
      <% if @issue_position && @issue_count %>
      <div class="position">
        <%= l(:label_item_position, :position => @issue_position, :count => @issue_count) %>
      </div>
      <% end %>
      <div class="next<%= " last" if @issue_position==@issue_count %>">
      <%= link_to_if @next_issue_id,
                     "#{l(:label_next)} \xc2\xbb",
                     (@next_issue_id ? issue_path(@next_issue_id) : nil),
                     :title => "##{@next_issue_id}" %>
      </div>
    </div>
  <% end %>
  <%# -------------- deaktiviert ------------------ %>
  
<fieldset class="collapsable collapsed">
  <legend onclick="toggleFieldset(this)"><%= l(:label_attribute_plural)%></legend>
  <div class="content">
    <label style="font-weight:bold"><%= l(:label_tracker)%>:</label> <%= Tracker.find(@issue.tracker_id) %>
    <p class="author">
      <% if session[:current_view_of_eScience] != '0' %>
        <div style="float:right; margin-top: -30px;">  <%= avatar(@issue.author, :size => "30") %></div>
        <%= authoring @issue.created_on, @issue.author %>.
      <% else %>
        <%= authoring @issue.created_on, nil, :label => :label_added_time %>.
      <% end %>
      <% if @issue.created_on != @issue.updated_on %>
      <%= l(:label_updated_time, time_tag(@issue.updated_on)).html_safe %>.
      <% end %>
    </p>
    <table class="attributes" width="100%">
      <tr>
        <td class="status" width="50%"><label><%=l(:field_status)%>:</label><%= h(@issue.status.name) %></td>
        <td class="start-date" width="50%"><label><%=l(:field_start_date)%>:</label><%= format_date(@issue.start_date) %></td>
      </tr>
      <tr>
        <td class="priority"><label><%=l(:field_priority)%>:</label><%= h(@issue.priority.name) %></td>
        <td class="due-date"><label><%=l(:field_due_date)%>:</label><%= format_date(@issue.due_date) %></td>
      </tr>
      <tr>
        <td class="assigned-to"><label>
          <%#= avatar(@issue.assigned_to, :size => "14") %>
          <% if session[:current_view_of_eScience] != '0' %>
            <%=l(:field_assigned_to)%>:</label>
            <%= @issue.assigned_to ? link_to_user(@issue.assigned_to) : "-" %>
          <% end %>
        </td>
        <td class="progress"><label><%=l(:field_done_ratio)%>:</label>
          <%= progress_bar @issue.done_ratio, :width => '80px', :legend => "#{@issue.done_ratio}%" %>
        </td>
      </tr>
      <tr>
        <td class="category"><label><%=l(:field_category)%>:</label><%=h(@issue.category ? @issue.category.name : "-") %></td>
        <% if User.current.allowed_to?(:view_time_entries, @project) %>
        <td class="spent-time">
          <label><%=l(:label_spent_time)%>:</label><%= @issue.total_spent_hours > 0 ? (link_to @issue.total_spent_hours.to_s+" h", {:controller => 'timelog', :action => 'index', :project_id => @project, :issue_id => @issue}) : "-" %>
          <%#= @issue.total_spent_hours > 0 ? (link_to l_hours(@issue.total_spent_hours), {:controller => 'timelog', :action => 'index', :project_id => @project, :issue_id => @issue}) : "-" %>
          <% if @issue.estimated_hours %>
            (<%= @issue.estimated_hours %> <%=l(:label_estimated_hours)%>)
          <% end %>
        </td>
        <% else %>
        <td></td>
        <% end %>
      </tr>
      <!--
      <tr>
        <td class="fixed-version"><label><%=l(:field_fixed_version)%>:</label><%= @issue.fixed_version ? link_to_version(@issue.fixed_version) : "-" %></td>
        <% if @issue.estimated_hours %>
        <td class="estimated-hours"><label><%=l(:field_estimated_hours)%>:</label><%= l_hours(@issue.estimated_hours) %></td>
        <% else %>
        <td></td>
        <% end %>
      </tr>
      -->
      <%= render_custom_fields_rows(@issue) %>
      <%= call_hook(:view_issues_show_details_bottom, :issue => @issue) %>
    </table>
  </div>
</fieldset>

<% if @issue.description? || @issue.attachments.any? %>
  <fieldset class="collapsable">
    <legend onclick="toggleFieldset(this)"><%=l(:field_description)%></legend>
    <div class="content" style="margin-top:-15px">
    <% if @issue.description? %>
      <div class="wiki"><%= textilizable @issue, :description, :attachments => @issue.attachments %></div>
    <% else %>
      <br/>
    <% end %>
    <% if @issue.attachments.any? %>
      <hr>
      <h4 style="margin-top:-0px; margin-bottom: -0px"><%= l(:label_fileuploads) %>:</h4>
      <%= link_to_attachments @issue %>
    <% end %>
    </div>
  </fieldset>
<% end %>
</div>
<%= call_hook(:view_issues_show_description_bottom, :issue => @issue) %>

<% if @journals.present? %>
<fieldset id="history" class="collapsable">
  <legend onclick="toggleFieldset(this)"><%=l(:label_history)%></legend>
  <%= render :partial => 'history', :locals => { :issue => @issue, :journals => @journals } %>
</fieldset>
<% end %>

<% if !@issue.leaf? || User.current.allowed_to?(:manage_subtasks, @project) %>
<fieldset id="issue_tree">
  <legend><%=l(:label_subtask_plural)%></legend>
  <div class="contextual">
    <%= link_to(l(:button_add), {:controller => 'issues', :action => 'new', :project_id => @project, :parent_issue_id => @issue}) if User.current.allowed_to?(:manage_subtasks, @project) %>
  </div>
  <%= render_descendants_tree(@issue) unless @issue.leaf?%>
</fieldset>
<% end %>
<% if @relations.present? || User.current.allowed_to?(:manage_issue_relations, @project) %>
<fieldset id="relations">
  <%= render :partial => 'relations' %>
</fieldset>
<% end %>

<% if @changesets.present? %>
<fieldset id="issue-changesets">
  <legend><%=l(:label_associated_revisions)%></legend>
  <%= render :partial => 'changesets', :locals => { :changesets => @changesets} %>
</fieldset>
<% end %>

<div style="clear: both;"></div>
<%= render :partial => 'action_menu' %>

<div style="clear: both;"></div>
<% if authorize_for('issues', 'edit') %>
  <div id="update" style="display:none;">
  <h3><%= l(:button_update) %></h3>
  <%= render :partial => 'edit' %>
  </div>
<% end %>

<% other_formats_links do |f| %>
  <%= f.link_to 'Atom', :url => {:key => User.current.rss_key} %>
  <%= f.link_to 'PDF' %>
<% end %>

<% html_title "#{l(:field_issue)}: #{@issue.subject}" %>

<% content_for :header_tags do %>
    <%= auto_discovery_link_tag(:atom, {:format => 'atom', :key => User.current.rss_key}, :title => "#{@issue.project} - #{@issue.tracker} ##{@issue.id}: #{@issue.subject}") %>
    <%= stylesheet_link_tag 'scm' %>
    <%= stylesheet_link_tag 'issues' %>
    <%= javascript_include_tag 'ckeditor/ckeditor.js' %>
    <%= stylesheet_link_tag 'ckeditor/editor' %>
<% end %>


<%= context_menu issues_context_menu_path %>
