<% content_for :sidebar_right do %>
  <%= render :partial => 'users/profile_user_info_sidebar'%>
<%end%>

<div id="#yui-main">
  <div class="yui-b">
     <div id="friends">
      <h3>
        <%= l(:accepted_friendships, @friend_count)%>
        <%= link_to "(#{@pending_friendships_count} "+:pending+")", pending_user_friendships_path(@user) if  (@pending_friendships_count > 0)%>
        <%= will_paginate @friendships %>
      </h3>
      <div style="clear:both"></div> 
      <div class="user_list"> 
        <%= render :partial => "friendships/friendship", :collection => @friendships%>
      </div>
    </div>
  </div>
</div>