<% javascriptString = "" %>
<div class="attachments">
<% attachments.each do |attachment| %>
  <div class="attachement">
    <% mimetype = Redmine::MimeType.main_mimetype_of(attachment.filename) 
       filetype = attachment.filename[(attachment.filename.rindex('.')+1)..-1] %>
    <% if filetype == 'pdf' %>
      <%= link_to_attachment attachment, :download => true, :class => 'fancybox '+filetype.to_s+' '+mimetype.to_s, :target => '_self', :rel=> 'group', :id=>'fileinfo_'+attachment.id.to_s, :title => attachment.description.blank? ? attachment.filename.to_s : attachment.description.to_s -%>
    <% else %>
      <%= link_to_attachment attachment, :download => true, :class => 'fancybox '+filetype.to_s+' '+mimetype.to_s, :target => '_self', :rel=> 'group', :id=>'fileinfo_'+attachment.id.to_s, :title => attachment.description.blank? ? attachment.filename.to_s : attachment.description.to_s -%>
    <% end %>
    <div class="options" style="display:none;">
      <%= link_to_attachment attachment, :download => true, :target => '_blank', :text => "", :title => l(:label_download_file), :class => "icon-cloud-download icon-large" -%>
      <%= link_to("", attachment_path(attachment), 
                      :class => "icon-trash icon-large", 
                      :title => l(:label_delete_file),
                      :data => {:confirm => l(:text_are_you_sure)}, 
                      :method => :delete, :remote => true) if options[:deletable] %>
    <% if attachment.is_text? %>
      <%= link_to("", {:controller => 'attachments', :action => 'show',
                  :id => attachment, :filename => attachment.filename}, :class => 'icon-search icon-large')%>
    <% end %>
    <span class="size">(<%= number_to_human_size attachment.filesize %>)</span>
    
      <% if filetype == 'pdf' %>
      <%
  #      out = nil
  #      require 'rghost'
  #      require 'RMagick'
  #      url = url_for({:controller => 'attachments', :action => 'download', :id => attachment, :filename => attachment.filename})
  #      url = "/home/mapescience/redmine_remote/public/test2.pdf"
  #      pdf = Magick::ImageList.new(url)
  
  #      preview = RGhost::Convert.new(url)
  #      RGhost::Config::GS[:tmpdir] = '/home/mapescience/redmine_remote/public/tmp/'
      #  out = preview.to :png
      %>
      <% end %>
    <% if options[:author] || !attachment.description.empty? %>
    <% file_information = ''
       file_information += '<div class="thumbnail" style="max-width:180px !important;">'+image_tag(thumbnail_attachment_url(:id => attachment.id, :size => "155"), :width=>"155px") + "</div>".html_safe if mimetype == 'image'
       file_information += '<div class="thumbnail" style="max-width:180px !important;">'+image_tag(url_for(:controller => 'attachments', :action => 'thumbnail', :id => attachment.id), :height=>"64px") + "</div>".html_safe if filetype == 'pdf' || filetype == 'xls' || filetype == 'ods'
       
       file_information += '<i>'.html_safe+h(attachment.author)+', ' + format_time(attachment.created_on)+'</i>'.html_safe
       file_information += '</br><div style="max-width:180px">'+h(" #{attachment.description}")+'</div>'.html_safe unless attachment.description.empty?
       javascriptString += 'addToolTip("#fileinfo_'+attachment.id.to_s+'",\''+file_information+'\',"left");' %>
    <% end %>
    </div>
  </div>
<% end %>
<div style="display: none">
  <div tabindex="-1" style="width: 612px; height: 600px;" id="showPDF"></div>
</div>

<% if defined?(thumbnails) && thumbnails %>
  <% images = attachments.select(&:thumbnailable?) %>
  <% if images.any? %>
  <div class="thumbnails">
    <% images.each do |attachment| %>
      <div><%= thumbnail_tag(attachment) %></div>
    <% end %>
  </div>
  <% end %>
<% end %>
</div>

<% unless attachments[0].nil? %>
<%= javascript_tag '
  $(document).ready(function() {
    '+javascriptString+'
//    var myPDF = new PDFObject({ url: "'+ url_for(attachments[0]).to_s()+"/"+attachments[0].filename.to_s() +'"}).embed("showPDF");
  });' 
%>
<%end%>

