<% content_for :sidebar_right do %>
	<%= link_to l(:label_group_new), new_group_path, :class => 'icon icon-plus-sign' %>
<%end%>

<h2><%= l(:label_group_plural) %></h2>

<% if @groups.any? %>
<table class="list groups" width="100%">
  <thead><tr>
  <th><%=l(:label_group)%></th>
  <th align="right" width="60"><%=l(:label_user_plural)%></th>
  <th width="80"></th>
  </tr></thead>
  <tbody>
<% @groups.each do |group| %>
  <tr class="<%= cycle 'odd', 'even' %>">
    <td><%= link_to h(group), edit_group_path(group) %></td>
    <td align="right"><%= group.users.size %></td>
    <td align="right"><%= delete_link group %></td>
  </tr>
<% end %>
</table>
<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
