<div class="description">
  <%= l(:text_member_search) %>
</div>
<div style="height:20px;"></div>
<label><%= l(:label_memberlist_searchit) %>:</label> <input id="member_search" />
<div style="clear:both"></div>
<div id="ausgabe"></div>


<% content_for :header_tags do %>
  <%= javascript_include_tag 'visualsearch/jquery.ui.core.js' %>
  <%= javascript_include_tag 'visualsearch/jquery.ui.position.js' %>
  <%= javascript_include_tag 'visualsearch/jquery.ui.widget.js' %>
  <%= javascript_include_tag 'visualsearch/jquery.ui.autocomplete.js' %>
  <%= javascript_include_tag 'visualsearch/underscore-1.1.5.js' %>
  <%= javascript_include_tag 'visualsearch/backbone-0.5.0.js' %>
  <%= javascript_tag '
  	$(function() {
		$( "#member_search" ).autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "'+url_for(:controller => "users", :action => "contact_member_search")+'",
  				dataType: "json",
					data: {
						maxRows: 12,
						q: request.term
					},
					success: function( data ) {
					  $("#ausgabe").html("");
						response( $.map( data, function( item ) {
					    var $element = $("<fieldset class=\'project\' />");
					    $element.append($("<legend>").text(item[0]));
					    var $tbl = $("<table width=\"100%\">");
					    for (var i = 0; i < item[1].length; i++) {
                $tbl.append($("<tr>").append($("<td>").text(item[1][i][0].user.firstname+" "+item[1][i][0].user.lastname+" ("+item[1][i][1]+")"),$("<td width=\"55\">").append(
                "<a href=\''+url_for(:controller => "users", :action => "index")+'/"+item[1][i][0].user.id+"\'><div class=\"openUser\"></div></a>",
                "<a href=\''+url_for(:controller => "user_messages", :action => "new")+'?id="+item[1][i][0].user.id+"\'><div class=\"sendMessage\"></div></a>",
                "<a href=\''+url_for(:controller => "user_contact", :action => "add")+'?contact_member_id="+item[1][i][0].user.id+"\'><div class=\"addUser\"></div></a>"
                )));
              }

              $element.append($tbl);
  						$("#ausgabe").append($element);
              addToolTip(".addUser ","'+l(:tooltip_addUser)+'","top");
              addToolTip(".openUser ","'+l(:tooltip_openUser)+'","top");
              addToolTip(".sendMessage ","'+l(:tooltip_sendMessage)+'","top");
  						return false;
						}));
					}
				});
			},
			minLength: 2,
			select: function( event, ui ) {
				log(ui.item.label);
				return false;
			},
			open: function() {
				$( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
			},
			close: function() {
				$( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
			}
		});
});' %>
<% end %>