<div class="description">
  <%= l(:text_member_search) %>
</div>
<div style="height:20px;"></div>
<label><%= l(:label_memberlist_searchit) %>:</label> <input id="member_search" />
<div style="clear:both"></div>
<div id="ausgabe"></div>


<% content_for :header_tags do %>
  <%= javascript_include_tag 'visualsearch/jquery.ui.core.js' %>
  <%= javascript_include_tag 'visualsearch/jquery.ui.position.js' %>
  <%= javascript_include_tag 'visualsearch/jquery.ui.widget.js' %>
  <%= javascript_include_tag 'visualsearch/jquery.ui.autocomplete.js' %>
  <%= javascript_include_tag 'visualsearch/underscore-1.1.5.js' %>
  <%= javascript_include_tag 'visualsearch/backbone-0.5.0.js' %>
  <%= javascript_tag '
  	$(function() {
		$( "#member_search" ).autocomplete({
			source: function( request, response ) {
                      var ajax = $.ajax({
                        url: "'+url_for(:controller => "users", :action => "contact_member_search")+'",
                        dataType: "json",
                        data: {
                          maxRows: 12,
                          q: request.term
                        },
                        success: function( data ) {
                          $("#ausgabe").html("");
                            //console.log("Blap: "+JSON.parse(ajax.responseText));
                            response( 
                              
                            );
                          }
                        }).always(function(json){
                              if(ajax.readyState == 4 && ajax.status == 200){
                                response = JSON.parse(ajax.responseText);
                                
                                $.each(response, function( prjct,roles){
                                  console.log(prjct);  
                                  var $element = $("<fieldset class=\'project\' />");
                                  $element.append($("<legend>").text(prjct));
                                  var $tbl = $("<table width=\"100%\">");
                                  
                                  $.each(roles, function(role, users){
                                    for (var i = 0; i < users.length; i++) {
                                      console.log("ITEM " + users[i]);
                                      
                                      if(role != \'\'){
                                        $tbl.append($("<tr>").append($("<td>").text(users[i].user.firstname+" "+users[i].user.lastname+" ("+role+")"),$("<td width=\"35\">").append("<a href=\''+url_for(:controller => "users", :action => "index")+'/"+users[i].user.id+"\' class=\"ui-icon ui-icon-person\"></a>","<a href=\"/users/"+ users[i].user.id+"/friendships\" data-confirm=\"'+l(:are_you_sure_you_want_to_create_a_friendship_with_this_user)+'\" data-remote=\"true\" data-method=\"post\" rel=\"nofollow\" class=\"ui-icon ui-icon-plusthick\"></a>")));
                                     }else{
                                        $tbl.append($("<tr>").append($("<td>").text(users[i].user.firstname+" "+users[i].user.lastname),$("<td width=\"35\">").append("<a href=\''+url_for(:controller => "users", :action => "index")+'/"+users[i].user.id+"\' class=\"ui-icon ui-icon-person\"></a>","<a href=\"/users/"+ users[i].user.id+"/friendships\" data-confirm=\"'+l(:are_you_sure_you_want_to_create_a_friendship_with_this_user)+'\" data-remote=\"true\" data-method=\"post\" rel=\"nofollow\" class=\"ui-icon ui-icon-plusthick\"></a>")));
                                     }
                                   }
                                  });
                                  $element.append($tbl);
                                  $("#ausgabe").append($element);
                                  addToolTip(".ui-icon.ui-icon-plusthick","'+l(:tooltip_addUser)+'","top");
                                  addToolTip(".ui-icon.ui-icon-person","'+l(:tooltip_openUser)+'","top");
                                });
                              }
                            });
                      },
			minLength: 2,
			select: function( event, ui ) {
				log(ui.item.label);
				return false;
			},
			open: function() {$( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );},
			close: function() {$( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );}
		});
      });' %>
<% end %>