<h2><%= link_to l(:label_user_plural), users_path %> &#187; <%=l(:label_user_new)%></h2>

<div id="profile">
<%= labelled_form_for(@user, :options => {:remote => 'false'}) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <% if email_delivery_enabled? %>
  <p><label><%= check_box_tag 'send_information', 1, true %> <%= l(:label_send_information) %></label></p>
  <% end %>
  <p>
    <%= f.submit l(:button_create) %>
    <%= f.submit l(:button_create_and_continue), :name => 'continue' %>
  </p>
<% end %>
</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'profile' %>
<% end %>
