<% content_for :sidebar_right do %>
	<% if User.current.admin? %>
	<li><%= link_to(l(:button_edit), edit_user_path(@user), :class => 'icon icon-edit') %></li>
	<%end%>
<%end%>

<h2><%= avatar @user, :size => "50" %>
  <%= (!@user.salutation.empty?) ? l("field_salutation_vals.#{@user.salutation}")+" " : "" %>
  <%= (!@user.title.empty?) ? l("field_title_vals.#{@user.title}") : "" %>
  <%=h @user.name %>
</h2>

<div class="user_information_main">
  <ul>
    <% unless @user.pref.hide_mail %>
      <li><label><%=l(:field_mail)%>:</label> <%= mail_to(h(@user.mail), nil, :encode => 'javascript') %></li>
      <li>
        <label><%=l(:field_department)%>:</label> <%= h(@user.department) %><br/>
        <label><%=l(:field_adress)%>:</label> <%= h(@user.street) %><br/>
        <label>&nbsp;</label> <%= h(@user.zipcode) %> <%= h(@user.city) %>
      </li>
    <% end %>
    <% @user.visible_custom_field_values.each do |custom_value| %>
    <% if !custom_value.value.blank? %>
      <li><%=h custom_value.custom_field.name%>: <%=h show_value(custom_value) %></li>
    <% end %>
    <% end %>
  <!--  
      <li><%=l(:label_registered_on)%>: <%= format_date(@user.created_on) %></li>
    <% unless @user.last_login_on.nil? %>
      <li><%=l(:field_last_login_on)%>: <%= format_date(@user.last_login_on) %></li>
    <% end %>
  -->
  </ul>
</div>
<div class="user_information_main">
  <ul>
      <li><label><%=l(:field_phone)%>:</label> <%= h(@user.phone) %></li>
      <li><label><%=l(:field_fax)%>:</label> <%= h(@user.fax) %></li>
    <% @user.visible_custom_field_values.each do |custom_value| %>
    <% if !custom_value.value.blank? %>
      <li><%=h custom_value.custom_field.name%>: <%=h show_value(custom_value) %></li>
    <% end %>
    <% end %>
  <!--  
      <li><%=l(:label_registered_on)%>: <%= format_date(@user.created_on) %></li>
    <% unless @user.last_login_on.nil? %>
      <li><%=l(:field_last_login_on)%>: <%= format_date(@user.last_login_on) %></li>
    <% end %>
  -->
  </ul>
</div>
<div style="clear:both; height: 20px;"></div>

<% unless @memberships.empty? %>
<fieldset>
  <legend><%=l(:label_project_plural)%></legend>
  <ul>
  <% for membership in @memberships %>
    <li><%= link_to_project(membership.project) %>
      (<%=h membership.roles.sort.collect(&:to_s).join(', ') %>)</li>
  <% end %>
  </ul>
</fieldset>
<% end %>
<%= call_hook :view_account_left_bottom, :user => @user %>


<% unless @events_by_day.empty? %>
<fieldset>
  <legend><%#= link_to l(:label_activity), :controller => 'activities',
            #    :action => 'index', :id => nil, :user_id => @user,
            #    :from => @events_by_day.keys.first %>
      <%= l(:label_activity) %>      
  </legend>
  <p><%=l(:label_reported_issues)%>: <%= Issue.count(:conditions => ["author_id=?", @user.id]) %></p>

  <div id="activity">
  <% @events_by_day.keys.sort.reverse.each do |day| %>
    <h4><%= format_activity_day(day) %></h4>
    <dl>
      <% @events_by_day[day].sort {|x,y| y.event_datetime <=> x.event_datetime }.each do |e| -%>
        <dt class="<%= e.event_type %>">
        <span class="time"><%= format_time(e.event_datetime, false) %></span>
        <%= content_tag('span', h(e.project), :class => 'project') %>
        <%= link_to format_activity_title(e.event_title), e.event_url %></dt>
        <dd><span class="description"><%= format_activity_description(e.event_description) %></span></dd>
      <% end -%>
    </dl>
  <% end -%>
  </div>

<!--
  <% other_formats_links do |f| %>
    <%= f.link_to 'Atom', :url => {:controller => 'activities', :action => 'index', :id => nil, :user_id => @user, :key => User.current.rss_key} %>
  <% end %>
-->  
  <% content_for :header_tags do %>
    <%= auto_discovery_link_tag(:atom, :controller => 'activities', :action => 'index', :user_id => @user, :format => :atom, :key => User.current.rss_key) %>
  <% end %>
<% end %>
</fieldset>

<%= call_hook :view_account_right_bottom, :user => @user %>

<% html_title @user.name %>
