<% if defined?(container) && container && container.saved_attachments %>
  <% container.saved_attachments.each_with_index do |attachment, i| %>
    <span class="icon icon-attachment" style="display:block; line-height:1.5em;">
      <%= h(attachment.filename) %> (<%= number_to_human_size(attachment.filesize) %>)
      <%= hidden_field_tag "attachments[p#{i}][token]", "#{attachment.id}.#{attachment.digest}" %>
    </span>
  <% end %>
<% end %>
<div id="attachments_fields" style="width:100%">
  <fieldset>
    <div class="deleteButton disabled"><%= link_to_function('', 'removeFileField(this)', :title => (l(:button_delete))) %></div>
    <legend><%= l(:label_fileupload) %></legend>
    <%= file_field_tag 'attachments[1][file]', :size => 30, :id => nil, :class => 'file',
          :onchange => "checkFileSize(this, #{Setting.attachment_max_size.to_i.kilobytes}, '#{escape_javascript(l(:error_attachment_too_big, :max_size => number_to_human_size(Setting.attachment_max_size.to_i.kilobytes)))}');"  -%>
    <div class="cover_input">
      <div class="fileupload" onclick="jQuery(this).parent().parent().find('.file').click()"><%= l(:label_fileupload) %></div>
    </div>
    <div class="descr"><%= text_area_tag 'attachments[1][description]', '', :id => nil, :class => 'description', :rows => 3, :placeholder => l(:label_optional_description) %></div>
    <div class="clear"></div>
    <div class="meta"><ul class = 'meta_information' placeholder = <% l(:label_meta_information_description) %>></ul></div>
  </fieldset>
</div>
<br />

  <div class="add_attachment disabled">
    <%= link_to('', '#', :onclick => 'addFileField(\''+ l(:label_fileupload) +'\'); return false;', :style => 'display:block;') %>
  <!--
  <%= l(:label_add_another_file) %><br/>
(<%= l(:label_max_size) %>: <%= number_to_human_size(Setting.attachment_max_size.to_i.kilobytes) %>)
  -->
  </div>