<div class="attachments">
<% for attachment in attachments %>
<p>
  <% css_classes = Redmine::MimeType.main_mimetype_of(attachment.filename) %>
  <% css_classes += " "+attachment.filename[(attachment.filename.rindex('.')+1)..-1] %>
  <%= link_to_attachment attachment, :class => 'fancybox '+css_classes, :target => '_self', :rel=> 'group', :title => attachment.description.blank? ? attachment.filename : attachment.description -%>
  <% if attachment.filename[(attachment.filename.rindex('.')+1)..-1] == "doc" %>
    <%= link_to image_tag('magnifier.png'), 'http://docs.google.com/viewer?url='+ CGI::escape("http://141.57.9.94:3000"+url_for(attachment)).to_s()+"/"+attachment.filename, {'data-fancybox-type' => 'iframe', :class => 'fancybox fancybox.ajax', :target => '_self', :rel=> 'group'} -%>
  <% end %>
  <% if attachment.is_text? %>
    <%= link_to image_tag('magnifier.png'),
                :controller => 'attachments', :action => 'show',
                :id => attachment, :filename => attachment.filename %>
  <% end %>
  <%= h(" - #{attachment.description}") unless attachment.description.blank? %>
  <span class="size">(<%= number_to_human_size attachment.filesize %>)</span>
  <% if options[:deletable] %>
    <%= link_to image_tag('delete.png'), attachment_path(attachment),
                                         :data => {:confirm => l(:text_are_you_sure)},
                                         :method => :delete,
                                         :class => 'delete',
                                         :title => l(:button_delete) %>
  <% end %>
  <% if options[:author] %>
    <span class="author"><%= h(attachment.author) %>, <%= format_time(attachment.created_on) %></span>
  <% end %>
  </p>
<% end %>

<% if defined?(thumbnails) && thumbnails %>
  <% images = attachments.select(&:thumbnailable?) %>
  <% if images.any? %>
  <div class="thumbnails">
    <% images.each do |attachment| %>
      <div><%= thumbnail_tag(attachment) %></div>
    <% end %>
  </div>
  <% end %>
<% end %>
</div>
