 <%= javascript_tag ' Event.observe("ad_time_constrained", "click", function(){$(\'time_constraints\').toggle()})' %>
 
<div class="box">
  <h3><%= :new_ad %> </h3>
    <%= error_messages_for @ad %>
    <%= form_for(@ad, :url => ads_path, :html => {:class => "MainForm" }) do |f| %>
  <label><%= :name %>
    <%= f.text_field :name %>
  </label><br />
   <label><%= :html %>
    <%= f.text_area :html, :size => '80x10', :class => "rich_text_editor" %>
  </label>

  <label><%= :frequency %>
    <%= f.select :frequency, Ad.frequencies_for_select %>
  </label>

  <label><%= :audience %>
    <%= f.select :audience, Ad.audiences_for_select %>
  </label>

  <fieldset for='ad_published'>
    <%= f.check_box :published %>
    <label>
      <%= :published %>
    </label>
  </fieldset>
  <div id="time_constraints" "style"={"display:<%="#{ @ad.time_constrained? ? 'block' : 'none'}"%>"}
    <fieldset for='ad_time_constrained'>
      <%= f.check_box :time_constrained %>
      <label>
        <%= :time_constrained %>
      </label>
    </fieldset>
    <label><%= :start_date %>
        <%= f.datetime_select :start_date %>
    </label>
    <label><%= :end_date %>
        <%= f.datetime_select :end_date %>
    </label>
    <label><%= :location %>
      <%= f.text_field :location %>
    </label>
  </div>
  <p>
    <%= submit_tag :create %>
  </p>
 <%end%>
  <%= link_to :back, ads_path %>
</div>