<% content_for :sidebar_right do %>
  <%= render :partial => 'sidebar' %>
<% end %>

<div id="add-news" style="display:none;">
<h2><%=l(:label_news_new)%></h2>
<% labelled_form_for @news, :url => project_news_index_path(@project),
                                           :html => { :id => 'news-form', :multipart => true } do |f| %>
<%= render :partial => 'news/form', :locals => { :f => f } %>
<%= submit_tag l(:button_create) %>
<%= link_to_remote l(:label_preview),
                   { :url => preview_news_path(:project_id => @project),
                     :method => 'get',
                     :update => 'preview',
                     :with => "Form.serialize('news-form')"
                   }, :accesskey => accesskey(:preview) %> |
<%= link_to l(:button_cancel), "#", :onclick => 'Element.hide("add-news")' %>
<% end if @project %>
<div id="preview" class="wiki"></div>
</div>

<article class="article">
  <h1><%=l(:label_news_plural)%></h1>
  <% if @newss.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
  <% else %>
  <% @newss.each do |news| %>
      <h3>
      <%= h(news.title) %>
      <%= "(#{l(:label_x_comments, :count => news.comments_count)})" if news.comments_count > 0 %></h3>
      <p class="author"><%= authoring news.created_on, news.author %></p>
      <div class="wiki">
      <%= textilizable(news, :description) %>
      </div>
  <% end %>
  <% end %>
  <p class="pagination"><%= pagination_links_full @news_pages %></p>
  
  <% content_for :header_tags do %>
    <%= stylesheet_link_tag 'scm' %>
  <% end %>
</article>
<% html_title(l(:label_news_plural)) -%>
