<div id="titleOfProject"><h1><%= link_to(h(@project.name), :controller => 'projects', :action => 'show', :id => @project.id).html_safe unless @project.nil? %> <i class="icon-beaker"></i></h1></div>

<% content_for :sidebar_right do %>
  <ul>
    <li><%= link_to_function l(:button_back), "history.back()", :class => 'icon icon-chevron-left' unless current_page?(:controller => 'wiki', :action => 'show', :id => nil) %></li>
  <% if @editable %>
  	<% if (authorize_for("wiki", "edit") && @content.current_version?) %>
  		<li><%= link_to(l(:button_edit), {:action => 'edit', :id => @page.title}, :class => 'icon icon-pencil', :accesskey => accesskey(:edit)) %></li>
  		<li><%= link_to l(:label_attachment_new), {}, :onclick => "$('#add_attachment_form').show(); $(this).hide(); $('html, body').animate({scrollTop: $(\'#add_attachment_form\').offset().top - 60}, 1500); return false;", :class => 'icon icon-folder-open-alt',:id => 'attach_files_link' %></li>
  	<%end%>
  	<li><%= watcher_tag(@page, User.current) %></li>
  	<% if (authorize_for("wiki", "protect") && !@page.protected?) %>
  		<li><%= link_to(l(:button_lock), {:action => 'protect', :id => @page.title, :protected => 1}, :remote => true, :class => 'icon icon-unlock-alt', :method => :post) %></li>
  	<%end%>
  	<% if (authorize_for("wiki", "protect") && @page.protected?) %>
  		<li><%= link_to(l(:button_unlock), {:action => 'protect', :id => @page.title, :protected => 0}, :remote => true, :class => 'icon icon-lock', :method => :post) %></li>
  	<%end%>
  	<% if (authorize_for("wiki", "rename") && @content.current_version?) %>
  		<li><%= link_to(l(:button_rename), {:action => 'rename', :id => @page.title}, :class => 'icon icon-edit') %></li>
  	<%end%>
  	<% if (authorize_for("wiki", "destroy")) %>
  		<li><%= link_to(l(:button_delete), {:action => 'edit', :id => @page.title}, :class => 'icon icon-trash', :method => :destroy, :confirm => l(:text_are_you_sure)) %></li>
  	<%end%>
  	<% if (authorize_for("wiki", "edit") && !@content.current_version?) %>
  		<li><%= link_to(l(:button_rollback), {:action => 'edit', :id => @page.title, :version => @content.version }, :class => 'icon icon-reply') %></li>
  	<%end%>
  	<% if (authorize_for("wiki", "history") && @content.current_version?) %>
  		<li><%= link_to(l(:label_history), {:action => 'history', :id => @page.title}, :class => 'icon icon-time') %></li>
  	<%end%>
  <%end%>
  </ul>
  <%= render :partial => 'sidebar' %>
<%end%>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'wiki' %>
<% end %>

<%#= wiki_page_breadcrumb(@page) %>

<% unless @content.current_version? %>
    <p>
    <%= link_to(("\xc2\xab " + l(:label_previous)),
                :action => 'show', :id => @page.title, :project_id => @page.project,
                :version => @content.previous.version) + " - " if @content.previous %>
    <%= "#{l(:label_version)} #{@content.version}/#{@page.content.version}" %>
    <%= '('.html_safe + link_to(l(:label_diff), :controller => 'wiki', :action => 'diff',
                      :id => @page.title, :project_id => @page.project,
                      :version => @content.version) + ')'.html_safe if @content.previous %> - 
    <%= link_to((l(:label_next) + " \xc2\xbb"), :action => 'show',
                :id => @page.title, :project_id => @page.project,
                :version => @content.next.version) + " - " if @content.next %>
    <%= link_to(l(:label_current_version), :action => 'show', :id => @page.title, :project_id => @page.project, :version => nil) %>
    <br />
    <em><%= @content.author ? link_to_user(@content.author) : l(:label_user_anonymous)
         %>, <%= format_time(@content.updated_on) %> </em><br />
    <%=h @content.comments %>
    </p>
    <hr />
<% end %>

<%= render(:partial => "wiki/content", :locals => {:content => @content}) %>

<%= link_to_attachments @page %>

<% if @editable && authorize_for('wiki', 'add_attachment') %>
  <div id="wiki_add_attachment">
    <%= form_tag({:controller => 'wiki', :action => 'add_attachment',
                  :project_id => @project, :id => @page.title},
                  :multipart => true, :id => "add_attachment_form",
                  :style => "display:none;") do %>
      <%= render :partial => 'attachments/form' %>
    <% end %>
  </div>
<% end %>

<% other_formats_links do |f| %>
  <%= f.link_to 'PDF', :url => {:id => @page.title, :version => params[:version]} %>
  <%= f.link_to 'HTML', :url => {:id => @page.title, :version => params[:version]} %>
  <%= f.link_to 'TXT', :url => {:id => @page.title, :version => params[:version]} %>
<% end if User.current.allowed_to?(:export_wiki_pages, @project) %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'scm' %>
<% end %>

<% html_title @page.pretty_title %>
