<% content_for :sidebar_right do %>
  <%= link_to_function l(:button_back), "history.back()", :class => 'icon icon-history' unless current_page?(:controller => 'wiki', :action => 'show', :id => nil) %>
  <% if @editable %>
    <ul>
  	<% if (authorize_for("wiki", "edit") && @content.current_version?) %>
  		<li><%= link_to(l(:button_edit), {:action => 'edit', :id => @page.title}, :accesskey => accesskey(:edit)) %></li>
  	<%end%>
  	<li><%= watcher_tag(@page, User.current) %></li>
  	<% if (authorize_for("wiki", "protect") && !@page.protected?) %>
  		<li><%= link_to(l(:button_lock), {:action => 'protect', :id => @page.title, :protected => 1}, :method => :post) %></li>
  	<%end%>
  	<% if (authorize_for("wiki", "protect") && @page.protected?) %>
  		<li><%= link_to(l(:button_unlock), {:action => 'protect', :id => @page.title, :protected => 0}, :method => :post) %></li>
  	<%end%>
  	<% if (authorize_for("wiki", "rename") && @content.current_version?) %>
  		<li><%= link_to(l(:button_rename), {:action => 'edit', :id => @page.title}) %></li>
  	<%end%>
  	<% if (authorize_for("wiki", "destroy")) %>
  		<li><%= link_to(l(:button_delete), {:action => 'edit', :id => @page.title}, :method => :destroy, :confirm => l(:text_are_you_sure)) %></li>
  	<%end%>
  	<% if (authorize_for("wiki", "edit") && !@content.current_version?) %>
  		<li><%= link_to(l(:button_rollback), {:action => 'edit', :id => @page.title, :version => @content.version }) %></li>
  	<%end%>
  	<% if (authorize_for("wiki", "history") && @content.current_version?) %>
  		<li><%= link_to(l(:label_history), {:action => 'history', :id => @page.title}) %></li>
  	<%end%>
    </ul>
  <%end%>
  <%= render :partial => 'sidebar' %>
<%end%>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'wiki' %>
<% end %>


<%#= wiki_page_breadcrumb(@page) %>

<% unless @content.current_version? %>
    <p>
    <%= link_to(("\xc2\xab " + l(:label_previous)),
                :action => 'show', :id => @page.title, :project_id => @page.project,
                :version => @content.previous.version) + " - " if @content.previous %>
    <%= "#{l(:label_version)} #{@content.version}/#{@page.content.version}" %>
    <%= '('.html_safe + link_to(l(:label_diff), :controller => 'wiki', :action => 'diff',
                      :id => @page.title, :project_id => @page.project,
                      :version => @content.version) + ')'.html_safe if @content.previous %> - 
    <%= link_to((l(:label_next) + " \xc2\xbb"), :action => 'show',
                :id => @page.title, :project_id => @page.project,
                :version => @content.next.version) + " - " if @content.next %>
    <%= link_to(l(:label_current_version), :action => 'show', :id => @page.title, :project_id => @page.project, :version => nil) %>
    <br />
    <em><%= @content.author ? link_to_user(@content.author) : l(:label_user_anonymous)
         %>, <%= format_time(@content.updated_on) %> </em><br />
    <%=h @content.comments %>
    </p>
    <hr />
<% end %>

<%= render(:partial => "wiki/content", :locals => {:content => @content}) %>

<%= link_to_attachments @page %>

<% if @editable && authorize_for('wiki', 'add_attachment') %>
<div id="wiki_add_attachment">
<p><%= link_to l(:label_attachment_new), {}, :onclick => "Element.show('add_attachment_form'); Element.hide(this); Element.scrollTo('add_attachment_form'); return false;",
                                             :id => 'attach_files_link' %></p>
<%= form_tag({:controller => 'wiki', :action => 'add_attachment',
              :project_id => @project, :id => @page.title},
             :multipart => true, :id => "add_attachment_form",
             :style => "display:none;") do %>
  <div class="box">
  <p><%= render :partial => 'attachments/form' %></p>
  </div>
<%= submit_tag l(:button_add) %>
<%= link_to l(:button_cancel), {}, :onclick => "Element.hide('add_attachment_form'); Element.show('attach_files_link'); return false;" %>
<% end %>
</div>
<% end %>

<% other_formats_links do |f| %>
  <%= f.link_to 'PDF', :url => {:id => @page.title, :version => params[:version]} %>
  <%= f.link_to 'HTML', :url => {:id => @page.title, :version => params[:version]} %>
  <%= f.link_to 'TXT', :url => {:id => @page.title, :version => params[:version]} %>
<% end if User.current.allowed_to?(:export_wiki_pages, @project) %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'scm' %>
<% end %>

<% html_title @page.pretty_title %>
