<h2><%= l(:label_knowledge) %></h2>

<% content_for :sidebar_right do %>
  <%= render :partial => 'sidebar' %>
<% end %>

<% form_tag({:controller => 'wiki', :action => 'show_all'}, :method => :get ) do %>
  <%= hidden_field_tag(:wiki_pages, 1, :id => nil) %>
  <%= text_field_tag 'q', @question, :placeholder => l(:label_search_plural), :accesskey => accesskey(:quick_search) %>
  <%= submit_tag l(:label_search) %>
<% end %>

<% p @result
  if !@results.nil? && @results.size > 0 %>
    <div id="search-results-counts">
    <%= render_results_by_type(@results_by_type) unless @scope.size == 1 %>
    </div>

    <h3><%= l(:label_result_plural) %> (<%= @results_by_type.values.sum %>)</h3>
    <dl id="search-results">
      <% @results.each do |e| %>
        <%= p e %>
        <dt class="<%= e.event_type %>"><%= content_tag('span', h(e.project), :class => 'project') unless @project == e.project %> <%= link_to highlight_tokens(truncate(h(e.event_title), :length => 255), @tokens), e.event_url %></dt>
        <dd><span class="description"><%= highlight_tokens(h(e.event_description), @tokens) %></span>
        <span class="author"><%= format_time(e.event_datetime) %></span></dd>
      <% end %>
    </dl>
<% else %>
  <p> <%= l(:notice_no_search_result)%></p>
<% end %>

<% content_for :header_tags do %>
<%= auto_discovery_link_tag(
      :atom, :controller => 'activities', :action => 'index',
      :id => @project, :show_wiki_edits => 1, :format => 'atom',
      :key => User.current.rss_key) %>
<% end %>
