<%= javascript_tag '$(function() {addToolTip("#newsdate_'+"#{news.id}"+'",\''+"#{authoring(news.created_on, news.author)}"+'\',"top")});' %>
<p>
  <%= link_to_project(news.project) + ': ' unless @project %>
  <%= link_to h(news.title), news_path(news), :id => "newsdate_#{news.id}" %>
  <%= "(#{l(:label_x_comments, :count => news.comments_count)})" if news.comments_count > 0 %>
  <br />
  <% unless news.summary.blank? %><span class="summary"><%=h news.summary.truncate(200) %></span><br /><% end %>
  <span class="author"><%= authoring news.created_on, news.author %></span>
</p>