<%= labelled_form_for @news, :html => { :id => 'news-form', :multipart => true, :method => :put } do |f| %>
  <h2 style="float:left"><%=l(:label_news_plural)%> <i class="icon-bullhorn"></i></h2>
  <div class="btn-group" style="float:right">
    <%= link_to l(:button_save), "#top", :class => 'btn', :onclick =>"$('#hidden_submit').attr('name','commit');$('#news-form').submit();" %>
    <%= link_to l(:button_cancel), {:action => 'show', :project => @project, :id => @news.id}, :class => 'btn', :style => '60px' %>
  </div>
  <div class="clear"></div>
<%= render :partial => 'form', :locals => { :f => f } %>
  <div class="btn-group" style="float:right">
    <%= link_to l(:button_save), "#top", :class => 'btn', :onclick =>"$('#hidden_submit').attr('name','commit');$('#news-form').submit();" %>
    <%= link_to l(:button_cancel), {:action => 'show', :project => @project, :id => @news.id}, :class => 'btn', :style => '60px' %>
  </div>
<%#= submit_tag l(:button_save) %>
<%#= link_to l(:button_cancel), {:action => 'show'}, :class => 'button' %>
<%#= link_to l(:button_cancel), "#", :onclick => 'Element.hide("edit-news");Element.show("preview"); return false;' %>
<%#= link_to_remote l(:label_preview),
  #                 { :url => preview_news_path(:project_id => @project),
  #                   :method => 'get',
  #                   :update => 'preview',
  #                   :with => "Form.serialize('news-form')"
  #                 }, :accesskey => accesskey(:preview) %>
<%#= preview_link preview_news_path(:project_id => @project, :id => @news), 'news-form' %>
<% end %>

<div id="preview" class="wiki"></div>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'ckeditor/ckeditor.js' %>
  <%= stylesheet_link_tag 'ckeditor/editor' %>
<% end %>

