<div id="titleOfProject"><h1><%= link_to(h(@project.name), :controller => 'projects', :action => 'show', :id => @project.id).html_safe unless @project.nil? %> <i class="icon-beaker"></i></h1></div>

<% content_for :sidebar_right_deaktiviert do %>
<% if @project && User.current.allowed_to?(:manage_news, @project) %>
	<%= link_to(l(:label_news_new),
            new_project_news_path(@project),
            :class => 'icon icon-plus-sign',
            :onclick => 'showAndScrollTo("add-news", "news_title"); return false;') if @project && User.current.allowed_to?(:manage_news, @project) %>
<% end %>
<%end%>

<div id="add-news" style="display:none;">
  <h2><%=l(:label_news_new)%></h2>
  <%= labelled_form_for @news, :url => project_news_index_path(@project), :html => { :id => 'news-form', :multipart => true } do |f| %>
  <%= render :partial => 'news/form', :locals => { :f => f } %>
  <%= submit_tag(l(:button_create)) %>
  <% end if @project %>
</div>
<div id="preview">
  <!--
  <%#= preview_link preview_news_path(:project_id => @project), 'news-form' %> | |
  <%#= link_to l(:button_cancel), "#", :onclick => '$("#add-news").hide()' %>
  -->
  <h2 style="float:left"><%=l(:label_news_plural)%> <i class="icon-bullhorn"></i></h2>
<% if @project && User.current.allowed_to?(:manage_news, @project) %>
	<%= link_to(l(:label_news_new),
            new_project_news_path(@project),
            :class => 'btn',
            :style => 'float:right') if @project && User.current.allowed_to?(:manage_news, @project) %>
<% end %>
  <div class="clear"></div>
  <% if @newss.empty? %>
    <div class="wiki description"><p class="nodata"><%= l(:label_no_data) %></p></div>
  <% else %>
  <% @newss.each do |news| %>
      <%= link_to(news, :class => "link_to_news") do %>
      <fieldset class="news_wrapper">
        <legend>
        <h3><%= truncate(h(news.title), length:50) %><%= " (#{l(:label_x_comments, :count => news.comments_count)})" if news.comments_count > 0 %></h3>
        </legend>
        <div class="date">
          <%= Date.parse(news.created_on.to_s).strftime("<span class=\"day\">%d</span><br/><span class=\"month\">%b</span><br/><span class=\"year\">%Y</span>").html_safe %>
        </div>
        <%= avatar(news.author, :size => "24") %><%= link_to_project(news.project) + ': ' unless news.project == @project %>
        <div class="author"><%= strip_tags(authoring news.created_on, news.author) %></div>
        <div class="wiki">
          <%= news.summary.nil? ? textilizable(news, :description) : textilizable(news, :summary) %>
        </div>
      </fieldset>
      <% end %>
  <% end %>
  <% end %>
  <p class="pagination"><%= pagination_links_full @news_pages %></p>
  
  <% other_formats_links do |f| %>
    <%= f.link_to 'Atom', :url => {:project_id => @project, :key => User.current.rss_key} %>
  <% end %>
</div>

<% content_for :header_tags do %>
  <%= auto_discovery_link_tag(:atom, params.merge({:format => 'atom', :page => nil, :key => User.current.rss_key})) %>
  <%= stylesheet_link_tag 'scm' %>
<% end %>

<% html_title(l(:label_news_plural)) -%>
