<h1>Editing user_message</h1>

<% form_for(@user_message) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.label :receiver %><br />
    <%= f.text_field :receiver %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user_message %> |
<%= link_to 'Back', user_messages_path %>