<h1>
  <% if @user_message.directory == 'sent' %>
    <%= "#{l(:label_user_messages_to)} #{render :partial => 'sent', :locals => {:user_message => @user_message}}" %>
  <%else%>
    <%= "#{l(:label_user_messages_from)} #{render :partial => 'received', :locals => {:user_message => @user_message}}" %>
  <%end%>
</h1>

<div id="show_user_message">
  <div class="date"><%= format_time(@user_message.created_at) %></div>
  <div class="author">
    <% if(@directory == 'sent') %>
      <%= render :partial => 'sent', :locals => { :user_message => @user_message } %>
    <% else %>
      <%= render :partial => 'received', :locals => { :user_message => @user_message } %>
    <% end %>
  </div>
  <span class="subject"><%=h @user_message.subject %></span>
  <p><%= @user_message.body.html_safe %></p>
</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'user_message' %>
<% end %>

<% content_for :sidebar_right do %>
  	<%= link_to(l(:label_back), user_messages_path, :class => 'icon icon-history') %><br/>
  	<%= link_to(l(:label_user_messages_new), {:action => 'new'}, :class => 'icon icon-add') %>
  	<ul>
    	<li><%= link_to(l(:label_user_messages_reply), {:action => 'new', :id => @user_message.user_id, :reply => @user_message.id}) %></li>
    	<li><%= link_to(l(:label_user_messages_delete), {:action => 'destroy'}, :confirm => self.l(:text_message_destroy_confirmation), :method => :delete) %></li>
    	<li><%= link_to(l(:label_user_add), {:controller => "user_contact", :action => "add", :contact_member_id => @user_message.user_id}) %></li>
  	</ul>
<%end%>