  <%#= render :partial => 'posts/author_profile', :locals => {:user => @user} %>

    <h3><%= l(:tags) %></h3>
    <ul class='tags'>
      <% @tags.each do |tag| %>
        <li>
          <% if (tag.name.eql?(params[:tag_name]) )%>
            <%= link_to(tag.name, user_photos_path(@user), :class => "selected")%>
          <% else%>
            <%= link_to(tag.name, user_photos_path(:user_id => @user, :tag_name => tag.name))%>
          <%end%>
        </li>
      <%end%>
  </ul>

<div class='yui'>
  <h3><%= link_to(l(:users_photos,:user=>@user.login), user_photos_path(@user)) %></h3>
  <%= link_to( l(:new_photo), new_user_photo_path(@user), {:class => 'right'})  if @is_current_user %>
</div>

<div class='clear'>
  <% @photos.each do |photo| %> 
    <%= link_to tag('img', :src => photo.photo.url(:thumb), :class => "polaroid"), user_photo_path(@user, photo) %>
  <%end%>
  <div class='pagination'>
    <%= will_paginate @photos %>
  </div>
</div>

      
