<%= link_to "&raquo; ".html_safe + l(:back_to_my_photos), user_photos_path(@user) %>

<fieldset>
     <legend><%= l(:new_photo) %></legend>

<%= error_messages_for @photo %>
<%= form_for(@photo, :url => user_photos_path(:user_id => User.current.id, :album_id => params[:album_id]), 
                         :html => {:multipart =>true, :class => "MainForm"} ) do |f| %>
  <%= f.file_field :photo %>
  <div>
  <%=  "#{l("setting_#{:attachment_max_size}")}: " %><%= number_to_human_size(Setting.send(:attachment_max_size).to_i*1024) %>
  </div>
  <div><%= l(:title) + ":" %><br />
    <%= f.text_field :name, :size => 35 %>
  </div>
  <br />
  <div>
    <%= l(:tags) %><br /> 
        <%= text_field_tag 'tag_list', @photo.tag_list, {:autocomplete => "off", :size => 35} %><br />
        <%= "(#{l(:optional_keywords_describing_this_photo_separated_by_commas)})" %>
  </div>
  <br />
  <div "id='tag_list_auto_complete'" "class='auto_complete'">
  <%#content_for :end_javascript do %>
    <%#= auto_complete_field 'tag_list', {:url => { :controller => "tags", :action => 'auto_complete_for_tag_name'}, :tokens => [','] } %>
  <%#end%>
  </div>

  <label><%= l(:description) + ":" %><br /> 
    <%= f.text_area :description, :size => "58x5" %>
  </label>

  <% unless params[:album_id] || User.current.albums.empty? %>
  <label>
    <%= l(:assign_album) + ":" %>
    <%= select_tag 'album_selected', options_for_select([''] +User.current.albums.collect{ |album| [album.title, album.id] }) %>
  </label>
  <%end%>
  <p>
    <%= submit_tag l(:create) %>
    <%#= link_to l(:cancel_and_go_back_to_photo_manager), user_photo_manager_index_path(User.current) %>
  </p>
  <%end%>

</fieldset>