<div class='profile'>
    <%#= render :partial => 'posts/author_profile', :locals => {:user => @user} %>
</div>

    <% if @photo.album %>
        <h3><%= "#{l(:album)}: #{link_to @photo.album.title, user_album_path(@user, @photo.album)}".html_safe %></h3>  
        <%= link_to "<img src='#{@photo.previous_in_album.photo.url(:thumb)}' /><br />&laquo; ".html_safe + l(:previous), user_photo_path(@user, @photo.previous_in_album), :class => 'left' if @photo.previous_in_album %>
        
        <%= link_to "<img src='#{@photo.next_in_album.photo.url(:thumb)}' /><br />".html_safe + l(:next) + "&raquo;".html_safe, user_photo_path(@user, @photo.next_in_album), :class => 'right' if @photo.next_in_album     %>
        
    <% elsif @previous || @next %> 
        <%= link_to "<img src='#{@previous.photo.url(:thumb)}' /><br />&laquo; ".html_safe + l(:previous), user_photo_path(@user, @previous), :class => 'left' if @previous %>
        
        <%= link_to "<img src='#{@next.photo.url(:thumb)}' /><br />".html_safe + l(:next) + "&raquo;".html_safe, user_photo_path(@user, @next), :class => 'right' if @next %>
    <%end%>

    <% if @related.any? %> 
        <h3><%= l(:related_photos_all_members) %></h3>
        <div class='centered'>
          <% @related.each do |photo|%> 
            <%= link_to(
                        image_tag(photo.photo.url(:thumb), :class => "polaroid"), user_photo_path(photo.user, photo), {:title => l(:photo_from_user, :photo_description => h(photo.description), :user => photo.user.login)}) %>
          <%end%>
        </div>
    <div class='yui'>
        <h3>
          <%= link_to l(:users_photos, :user => @user.login), user_photos_path(@user) %>
          <%= link_to h(@photo.display_name), user_photo_path(@user, @photo) %>
        </h3> 
    </div>
    <%end%>
        <% if @is_current_user %>
          <%#= link_to l(:make_this_my_profile_photo), change_profile_photo_user_path(@user, :photo_id => @photo), :method => :put %>
          <%= link_to l(:edit_this_photo_details), edit_user_photo_path(@user, @photo) if @is_current_user %>
          <%= link_to(l(:delete_this_photo), user_photo_path(@user, @photo), :method => :delete) + "<br class='clear' />".html_safe %>
        <%end%>
        <p class='centered'><%= tag(:img, :src => @photo.photo(:large), :class => "polaroid" ) %></p>
        <p><%= h @photo.description %></p>
        <p><%#= @photo.tags.collect{|t| link_to( h(t.name), tag_url(t), :class => 'tag') }.join(" ").html_safe %></p>

        <h3><%= l(:photo_comments) %></h3>
        <h2><%= l(:add_your_comment) %></h2>
        <p><%= render :partial => 'comments/comments', :locals => { :form_hash => {:action => 'add_comment', :photo_id => @photo}, :comments => @comments} %></p>
        <a id='newest_comment'>
          <%#= render :partial => 'comments/comment', :collection => @photo.comments %>
          <span id='more_comments_links'><%#= more_comments_links(@photo) %></span>
        </a>
