<%  sorted_users = {}
    @friendships.each do |uc|
      user = uc.friend
      if (sorted_users[user.lastname[0,1]].nil?)
        sorted_users[user.lastname[0,1]] = [uc]
      else
        sorted_users[user.lastname[0,1]] << uc
      end
    end 
    sorted_users = sorted_users.sort { |a,b| a[0] <=> b[0] }
%>
  <div class="user_list"> 
<% sorted_users.each do |letter, users| %>
<fieldset>
  <legend><%= letter %></legend>
  <table width="100%" style="margin-top: -8px;">
    <% users.each do |user| %>
      <%= render :partial => "friendships/friendship", :locals => {:friendship => user} %>
    <% end %>
  </table>
</fieldset>
<% end %>
</div>
<%= javascript_tag "$('input#search').quicksearch('table tr',{
    show: function () {
    	this.style.display = '';
    	$(this).addClass('visibleElement');
    	fieldset = $(this).closest('fieldset').css('display','');
    },
    hide: function () {
    	this.style.display = 'none';
    	$(this).removeClass('visibleElement');
    	fieldset = $(this).closest('fieldset');
    	if (fieldset.find('.visibleElement').length == 0) fieldset.css('display','none');
    }
  });" %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'community_engine', :plugin => 'redmine_social' %>
    <%= javascript_include_tag 'jquery.quicksearch.js', :plugin => 'redmine_social' %>
<% end %>