<%content_for :sidebar do %>
    <ul>
      <li><%= link_to(l(:accepted_user_friendships),accepted_user_friendships_path)%></li>
      <li><%= link_to(l(:pending_user_friendships),pending_user_friendships_path)%></li>
      <li><%= link_to(l(:denied_user_friendships),denied_user_friendships_path)%></li>
    </ul>
<%end%>

<h1><%= l(:friendships)%></h1>

<%#{:name=>'pending',:partial =>'pending',:label=>:pending_friendships, :num => "#{' ('+@waiting_friendships.length.to_s+')' if @waiting_friendships.length>0}", :onclick=>"hideOnLoad();"}'%>

<%= render_tabs [
    {:name=>'accepted',:partial =>'accepted',:label=>:friendships},
    {:name=>'pending',:partial =>'pending',:label=>:pending_friendships, :onclick=>"hideOnLoad();"},
    {:name=>'search',:partial=>'users/contact_membersearch',:label=>:label_memberlist_search},    
  ] %>
<div class="clear"></div>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'community_engine', :plugin => 'redmine_social' %>
    <%= javascript_include_tag 'jquery.quicksearch.js', :plugin => 'redmine_social' %>
<% end %>