<% content_for :sidebar_right do %> 
<div  class="yui-b"><%= render :partial => 'users/profile_user_info_sidebar' %></div>
<%end%>

<h1><%= l(:pending_friendships_title)%> (<%= @friendships.length %>)</h1>
<div class="user_list"><%= render :partial => "friendships/friendship", :collection => @friendships%></div>

<h1><%= l(:wait_for_pending_friendships)%> (<%= @waiting_friendships.length %>)</h1>
<div class="user_list"><%= render :partial => "friendships/friendship", :collection => @waiting_friendships%></