<%= error_messages_for @document %>

<div class="box tabular">
<p><%= f.select :category_id, DocumentCategory.active.collect {|c| [c.name, c.id]} %></p>
<p><%= f.text_field :title, :required => true, :style => 'font-size:20px;', :size => 71 %></p>
<p><%#= f.text_area :description, :cols => 60, :rows => 15, :class => 'wiki-edit' %></p>
<label style="margin-bottom:5px;"><%= l(:label_description) %></label>
<textarea accesskey="e" class="wiki-edit ckeditor" cols="60" id="document_description" name="document[description]" rows="<%= (@document.description.blank? ? 10 : [[10, @document.description.length / 50].max, 100].min) %>">
  <%= textilizable @document, :description %>
</textarea>
</div>

<%#= wikitoolbar_for 'document_description' %>

<% if @document.new_record? %>
<div class="box tabular">
<p><%= render :partial => 'attachments/form', :locals => {:container => @document} %></p>
</div>
<% end %>
