<div id="titleOfProject"><h1><%= link_to(h(@project.name), :controller => 'projects', :action => 'show', :id => @project.id).html_safe unless @project.nil? %> <i class="icon-beaker"></i></h1></div>

<% content_for :sidebar_rights do %>
<!--
  <ul>
    <li><%= link_to l(:button_back), project_documents_path(@project), :class => 'icon icon-chevron-left' %></li>
    <% if User.current.allowed_to?(:manage_documents, @project) %>
      <li><%= link_to(l(:label_attachment_new), {}, :onclick => "$('#attachments_form').show(); return false;", :id => 'attach_files_link', :class => 'icon icon-folder-open-alt') if authorize_for('documents', 'add_attachment') %></li>
      <li><%= link_to l(:button_edit), edit_document_path(@document), :accesskey => accesskey(:edit), :class => 'icon icon-pencil' %></li>
      <li><%= delete_link document_path(@document), :class => 'icon icon-trash' %></li>
    <% end %>
  </ul>
-->
<%end%>

<h2 style="float:left;"><%=h @document.title %> <i class="icon-book"></i></h2>
<%= link_to(l(:button_back),  project_documents_path(@project), :class => "btn", :style => 'float:right') %>
<div style="float:right; margin-right: 10px; text-align:right">
    <%=h @document.category.name %><br />
    <%=l(:text_created_on)%> <%= format_date @document.created_on %>
</div>
<div class="clear"></div>
<% unless @document.description.nil? || @document.description.empty? %>
  <div id="documents">
    <div class="wiki description" >
      <%= textilizable @document.description, :attachments => @document.attachments %>
    </div>
  </div>
<% end %>
<% if @document.category.name == 'Kooperatives Tabellendokument'%>
  <%= textilizable "{{ethersheet(#{@document.title}_#{@project.name}, useMonospaceFont=false, width=100%)}}" %>
<% elsif @document.category.name == 'Kooperatives Textdokument'%>
  <%= textilizable "{{etherpad(#{@document.title.gsub(' ','_')}__#{@project.name.gsub(' ','_')}, useMonospaceFont=true, width=100%)}}" %>
<% end %>

<fieldset>
<legend><%= l(:label_attachment_plural) %></legend>
  <div id="files">
    <%= link_to_attachments @document %>
  </div>
</fieldset>

<% if authorize_for('documents', 'add_attachment') %>
  <%= form_tag({ :controller => 'documents', :action => 'add_attachment', :id => @document },:remote => true, :multipart => true, :id => "attachments_form", :style => "display:block;") do %>
    <div class="box"><%= render :partial => 'attachments/form' %></div>
  <% end %>
<% end %>
<% html_title @document.title -%>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'scm' %>
    <%= stylesheet_link_tag 'jquery.fancybox' %>
    <%= javascript_include_tag('jquery.fancybox.pack.js') %>
    <%= javascript_tag '$(document).ready(function() {
      $(".fancybox").fancybox({padding: 0,closeClick : true});
    });' %>
<% end %>