<% content_for :header_tags do %>
    <%= auto_discovery_link_tag(:atom, {:action => 'index', :format => 'atom', :key => User.current.rss_key}) %>
<% end %>

<% content_for :sidebar_right do %>
  <% if User.current.logged? %>
    <ul>
    <% if User.current.allowed_to?(:add_project, nil, :global => true) %>
      <li><%= link_to(l(:label_project_new), {:controller => 'projects', :action => 'new', :sub => params[:sub]}, :class => 'icon icon-plus-sign')%></li>
    <% end %>
    <% if User.current.allowed_to?(:view_issues, nil, :global => true) && 1==0 %>
      <li><%= link_to(l(:label_issue_view_all), issues_path) %></li>
    <% end %>
    <% if User.current.allowed_to?(:view_time_entries, nil, :global => true) %>
        <li><%= link_to(l(:label_overall_spent_time), {:controller => 'timelog', :action => 'index', :sub => params[:sub]}, :class => "icon icon-time") %></li>
    <% end %>
    </ul>
  <% end%>
<% end %>

<h2><%=l(:label_project_plural)%> <li class="icon-beaker"></li></h2>
<div style="float:right; margin-top:-44px;">
  <div class="sortby" style="float:left;"><%= l(:label_sort) %></div>
  <div class="btn-group" style="float:left;">
    <% @sort_options.each do |sort_option| %>
      <%= link_to(l("label_sort_by_#{sort_option[:name]}"), {:action => 'index', :order => sort_option[:name], :dir => sort_option[:link_dir].to_s}, :class => "icon #{sort_option[:active] ? 'active' : ''} icon_#{sort_option[:icon]}_#{sort_option[:dir]} btn") %>
    <% end %>
  </div>
</div>
<div class="clear"></div>
<% unless @projects.nil? %>
  <% @projects.each do |project| %>
    <% date = project.updated_on %>
    <fieldset class="has_collapsed project">
      <div class="tools">
        <% if User.current.allowed_to?(:close_project, nil, :global => true) %>
          <div class="delete_project">
            <%= link_to(content_tag("i","",:class=> "icon-trash #{@projects.count < 5 ? 'icon-2x' : 'icon-large'}"), archive_project_path(project), :data => {:confirm => l(:text_project_destroy_confirmation)}, :method => :post) %>
          </div>
        <% end %>
        <% if User.current.allowed_to?(:edit_project, nil, :global => true) %>
          <div class="settings_project">
            <%= link_to(content_tag("i","",:class=> "icon-cog #{@projects.count < 5 ? 'icon-2x' : 'icon-large'}"), {:controller => 'projects', :action => 'settings', :id => project.id, :sub => params[:sub]}) %>
          </div>
        <% end %>
        <% visible_issues = false
           Issue.find(:all, :conditions => "project_id = #{project.id}").each do |e|
             if e.visible?
               visible_issues = true
             end
           end %>
        <% if User.current.allowed_to?(:view_issues, project) && visible_issues %>
          <div class="issues_project">
            <%= link_to(content_tag("i","",:class=> "icon-check #{@projects.count < 5 ? 'icon-2x' : 'icon-large'}"), {:controller => 'issues', :id => project.id, :sub=>params[:sub]}) %>
          </div>
        <% end %>
      </div>
      <%= link_to({:controller => 'projects', :action => 'show', :id => project, :sub => params[:sub]}, :class => "link_to_project") do %>
        <h2 class="title_of_project"><%= h(truncate(project.name, :length => 300)) %></h2>
        <div class="innerInfo<%= ' collapsed' unless @projects.count < 5 %>">
          <div>
            <table>
              <tr>
                <td width="40" valign="top"><%= Date.parse(project.created_on.to_s).strftime("<span class=\"day\">%d</span><br/><span class=\"month\">%b</span><br/><span class=\"year\">%Y</span>").html_safe %></td>
            <%= content_tag('td', textilizable(project.short_description.truncate(200), :project => project), :class => 'wiki description', :valign => "top") if project.description.present? %>
              </tr>
            </table>
          </div>
          <div class="clear"></div>
          <%= content_tag('div', l(:label_last_modified) +": "+ format_time(date), :class => 'last_modified') %>

          <div <%= 'class=has_subproject' if project.children().count > 0 %>>
          <% project.children().each_with_index do |subproject, i|
              if subproject.visible? %>
              <div>
              <%= link_to(subproject.name, {:controller => 'projects', :action => 'show', :id => subproject}, :class => "link_to_project") %>
                <div>
                <% subproject.children().each_with_index do |subsubproject, i|
                    if subsubproject.visible? %>
                    <div style='background-color: rgb(240, 240, 240);'>
                      <%= link_to(subsubproject.name, {:controller => 'projects', :action => 'show', :id => subsubproject}, :class => "link_to_project") %>
                    </div>
                  <% end %>
                <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
          </div>

        </div>
      <% end %>
      <% if User.current.logged? %>
        <div class="invitation" style="display:none">
          <%= render :partial => 'group_invitations/group_invitation', :locals => {:group => "project", :group_id => project.id}%>
        </div>
      <% end %>
    </fieldset>
  <% end %>

  <% other_formats_links do |f| %>
    <%= f.link_to 'Atom', :url => {:key => User.current.rss_key} %>
  <% end %>
<% end %>



<% html_title(l(:label_project_plural)) -%>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'project' %>
  <%= javascript_tag '
    $(function() {addToolTip(".delete_project","'+l(:tooltip_project_message_delete)+'","left")});
    $(function() {addToolTip(".settings_project","'+l(:tooltip_project_message_settings)+'","left")});
    $(function() {addToolTip(".issues_project","'+l(:tooltip_project_message_issues)+'","left")});' if User.current.confirm %>
  <%= javascript_tag '
    $(document).ready(function() {
      $(".project").droppable({
         accept: ".draggable",
         snap: true,
         drop: function(event, ui) {
           $(event.target).find(".invitation #receiver_id").val(ui.helper.context.id);
           $(event.target).find(".invitation input[type=submit]").click();
           $("#dialog-confirm").html("'+l(:invite_friend_to_project_first)+'"+ui.helper.context.innerHTML+"'+l(:invite_friend_to_project_second)+'"+$(event.target).find("h2.title_of_project").html()+"'+l(:invite_friend_to_project_third)+'");
         }
      });
      $(".invite").each(function(){
        $(this).click(function() {
          $(".invite").parent().find(".invitation").toggleClass("visible");
          $("#contact_list_wrapper").show();
          return false;
        });
      });
      $("fieldset").each(function(){
        var innerInfo = $(this).find(".innerInfo.collapsed");
        $(this).hover(function(){

          if ( innerInfo.hasClass( "collapsed" )){
              v_height = innerInfo.hide().height("auto").height();
              innerInfo.height("0px");
              innerInfo.css("opacity","0");
              innerInfo.show();
              innerInfo.removeClass("collapsed");
              innerInfo.addClass("open");
              innerInfo.delay(500).animate({ height: v_height, opacity: 1},300,function(){});
          }
        },
        function() {
          if ( innerInfo.hasClass( "open" )){
            innerInfo.removeClass("open");
            innerInfo.addClass("collapsed");
            innerInfo.removeAttr("style");
          }
        });
      });
    });
  ' %>
<% end %>

<% content_for :sidebar_right do %>
  <%= render :partial => "friendships/contact_list" if User.current.logged? %>
<% end %>
