<div id="titleOfProject"><h1><%= link_to(h(@project.name), :action => 'show', :id => @project.id).html_safe %></h1></div>
<!--<h2><%=l(:label_overview)%> <%= l(:label_forproject) %> </h2>-->

<% if !@topproject.nil? && (session[:current_view_of_eScience] != '0' || @topproject.name != 'eScience') %>
<p id="subprojectof">
  <%= l(:label_subprojectof) %>:
  <% if User.current.allowed_to?(:view_project, @topproject) %>
  <%= link_to(h(@topproject.name), :action => 'show', :id => @topproject.id).html_safe %>
  <% else %>
  <%= h(@topproject.name) %>
  <% end %>
</p>
<% end %>

<fieldset class="collapsable">
  <legend onclick="toggleFieldset(this)">
    <%=l(:label_description)%>
    <%= content_tag('div', l(:label_last_modified) +": "+ format_time(@last_update), :class => 'last_modified') %>
  </legend>
  <div class="wiki">
    <label><%=l(:label_spent_time)%>:</label><%= @total_hours ? (link_to @total_hours.to_s+" h", {:controller => 'timelog', :action => 'index', :project_id => @project}) : "" %>
    <% if User.current.allowed_to?(:edit_project, nil, :global => true) %>
      <div id="buttons" style="float:right">
        <div id="save_button" style="display:none">
          <%= link_to_function l(:button_cancel), "$('#edit_button').toggle();$('#save_button').toggle();$('#description').toggle();$('#project_description').toggle();" %>
          <%= link_to_function l(:button_save), "CKEDITOR.instances.descr_edit.updateElement();$('.edit_project').submit();$('#description').toggle();$('#project_description').toggle();$('#edit_button').toggle();$('#save_button').toggle();" %>
        </div>
        <div id="edit_button">
          <%= link_to_function image_tag('edit.png'), "$('#save_button').toggle();$('#edit_button').toggle();$('#description').toggle();$('#project_description').toggle();CKEDITOR.instances.descr_edit.resize(500, 200);" %>
        </div>
      </div>
  <% end %>

    <table>
      <tr>
        <td width="40" valign="top"><%= Date.parse(@project.created_on.to_s).strftime("<span class=\"day\">%d</span><br/><span class=\"month\">%b</span><br/><span class=\"year\">%Y</span>").html_safe %></td>
        <td class="wiki" valign="top">
          <%= form_for(@project, :remote => true, :id=>"update_form") do %>
          <div id="project_description" style="display:none;">
              <textarea id="descr_edit" class="wiki-edit ckeditor" cols="40" name="project[description]" rows="5">
                <%= textilizable @project, :description %>
              </textarea>
          </div>
          <% end %>
          <div id="description"><%= textilizable @project, :description %></div>
        </td>
      </tr>
    </table>
    <% unless @project.homepage.blank? || @project.visible_custom_field_values.count == 0 %>
      <ul>
      <% unless @project.homepage.blank? %>
        <li><%=l(:field_homepage)%>: <%= link_to(h(@project.homepage), @project.homepage).html_safe %></li>
      <% end %>
      <% @project.visible_custom_field_values.each do |custom_value| %>
        <% if !custom_value.value.blank? %>
           <li><%=h custom_value.custom_field.name %>: <%=h show_value(custom_value) %></li>
        <% end %>
      <% end %>
      </ul>
    <% end %>
  </div>
</fieldset>

<% if @news.any? && authorize_for('news', 'index') && session[:current_view_of_eScience] != "0" %>
<fieldset>
  <legend><%=l(:label_news_latest)%></legend>
    <%= render :partial => 'news/news', :collection => @news %>
    <p><%= link_to l(:label_news_view_all), :controller => 'news', :action => 'index', :project_id => @project %></p>
</fieldset>
<% end %>

<% if @subprojects.any? %>
<fieldset>
  <legend><%=l(:label_subproject_plural)%></legend>
  <p><%= @subprojects.collect{|p| link_to(h(p), :action => 'show', :id => p)}.join(", ").html_safe %></p>
</fieldset>
<% end %>

<% if User.current.allowed_to?(:view_issues, @project) %>
<fieldset>
  <legend><%=l(:label_issue_tracking)%></legend>
    <% unless @issues.empty? %>
    <%= render :partial => 'issues/list_very_simple', :locals => { :issues => @issues } %>
    <!--
    <ul>
    <% for tracker in @trackers %>
      <li><%= link_to h(tracker.name), :controller => 'issues', :action => 'index', :project_id => @project,
                                                :set_filter => 1,
                                                "tracker_id" => tracker.id %>:
          <%= l(:label_x_open_issues_abbr_on_total, :count => @open_issues_by_tracker[tracker].to_i,
                                                    :total => @total_issues_by_tracker[tracker].to_i) %>
      </li>
    <% end %>
    </ul>
    -->
    <p>&nbsp;</p>
    <p>
      <%= link_to l(:label_issue_view_all), :controller => 'issues', :action => 'index', :project_id => @project, :set_filter => 1 %>
      <% if User.current.allowed_to?(:view_calendar, @project, :global => true) %>
        | <%= link_to(l(:label_calendar), :controller => 'calendars', :action => 'show', :project_id => @project) %>
      <% end %>
      <% if User.current.allowed_to?(:view_gantt, @project, :global => true) %>
        | <%= link_to(l(:label_gantt), :controller => 'gantts', :action => 'show', :project_id => @project) %>
      <% end %>
      <% if User.current.allowed_to?(:manage_subtasks, @project) %>
        | <%= link_to(l(:label_issue_new), { :controller => 'issues', :action => 'new', :project_id => @project }) %>
      <% end %>  
      | <a id="hide_closed" onclick="$('.linkToIssue.closed').toggle();$(this).hide();$('#show_closed').show()"><%= l(:label_issues_closed_hide) %></a>
        <a id="show_closed" style="display:none" onclick="$('.linkToIssue.closed').toggle();$(this).hide();$('#hide_closed').show()"><%= l(:label_issues_closed_show) %></a>
    </p>
    <% else %>
      <%= link_to(l(:label_issue_new), { :controller => 'issues', :action => 'new', :project_id => @project }, :class => 'icon icon-add', :style => 'padding-left:25px !important;') %>
    <% end %>
</fieldset>
<% end %>
<%= call_hook(:view_projects_show_left, :project => @project) %>

<fieldset>
  <legend>Dokumente</legend>
  <div id="attachments" style="margin-bottom:10px;"><%= link_to_attachments @project %></div>
  <%= form_tag({:action => 'add_attachment', :id => @project}, :remote => true, :id=>"attachments_form", :multipart => true) do %>
    <div id="content_of_form"><%= render :partial => 'attachments/form' %></div>
  <% end %>
</fieldset>

<% unless session[:current_view_of_eScience] == "0" %>
  <%= render :partial => 'members_box' %>
<% end %>

<%= call_hook(:view_projects_show_right, :project => @project) %>

<% content_for :sidebar_right do %>
  <% if User.current.allowed_to?(:add_subprojects, @project) %>
    <%= link_to l(:label_subproject_new), {:controller => 'projects', :action => 'new', :parent_id => @project}, :class => 'icon icon-add' %>
  <% end %>
	<% if User.current.allowed_to?(:edit_project, nil, :global => true) %>
		<%= link_to(l(:label_project_edit), {:controller => 'projects', :action => 'settings', :show_project => @project.id}, :class => 'icon icon-settings')%>
	<% end %>
  <%= call_hook(:view_projects_show_sidebar_bottom, :project => @project) %>
<% end %>


<fieldset id="activities_fieldset">
  <legend><%= @author.nil? ? l(:label_activity) : l(:label_user_activity, link_to_user(@author)).html_safe %></legend>
<%= render :partial => 'activities/index' %>
</fieldset>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'project' %>
  <%= auto_discovery_link_tag(:atom, {:controller => 'activities', :action => 'index', :id => @project, :format => 'atom', :key => User.current.rss_key}) %>
  <%= javascript_include_tag 'ckeditor/ckeditor.js' %>
  <%= stylesheet_link_tag 'ckeditor/editor' %>
  <%= javascript_include_tag 'jquery.form.js', :plugin => 'redmine_social' %>
<% end %>
<% html_title(l(:label_overview)) -%>
