<div id="titleOfProject"><h1><%= link_to(h(@project.name), :controller => 'projects', :action => 'show', :id => @project.id).html_safe unless @project.nil? %> <i class="icon-beaker"></i></h1></div>

<% javascriptString = "" %>
<% content_for :sidebar_right_deaktiviert do %>
  <% if User.current.allowed_to?(:manage_files, @project) %>
    <ul>
      <li><%= link_to(l(:label_attachment_new), new_project_file_path(@project), :class => 'icon icon-plus-sign') %></li>
    </ul>
  <% end %>
<% end %>

<h2 style="float:left"><%=l(:label_attachment_plural)%> <i class="icon-folder-open-alt"></i></h2>
<% if User.current.allowed_to?(:manage_files, @project) %>
  <%#= link_to(l(:label_attachment_new), new_project_file_path(@project), :class => 'btn', :style => "float:right") %>
  <%= link_to_function(l(:label_attachment_new), "$('#addNewFile').toggle(); $(this).toggle();", :class => 'btn addButton', :style => "float:right") %>
<% end %>
<div class="clear"></div>

<div id="fileList">
  <%= render :partial => 'file_list' %>
</div>

<div id="addNewFile" style="display:none">
  <%= form_tag({:action => 'create', :id => @project}, :remote => true, :id=>"attachments_form", :multipart => true) do %><div id="content_of_form"><%= render :partial => 'attachments/form' %></div><% end %>
  
  <div class="btn-group" style="float:right">
      <%= link_to_function(l(:button_cancel), "$('#addNewFile').toggle();$('.addButton').toggle()", :class => 'btn', :style => 'float:right') %>
  </div>
</div>

<% html_title(l(:label_attachment_plural)) -%>
<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'jquery.fancybox' %>
    <%= javascript_include_tag('jquery.fancybox.pack.js') %>
    <%= javascript_tag '$(document).ready(function() {
      $(".fancybox").fancybox({padding: 0,closeClick : true});
      });' %>
<% end %>