<div id="titleOfProject"><h1><%= link_to(h(@project.name), :controller => 'projects', :action => 'show', :id => @project.id).html_safe unless @project.nil? %> <i class="icon-beaker"></i></h1></div>

<% content_for :sidebar_right_deaktiviert do %>
  <%= link_to_function l(:button_cancel), "history.back()", :class => 'icon icon-history' %>
<% end %>

<h2><%=l(:label_attachment_new)%> <i class="icon-folder-open-alt"></i></h2>

<%= error_messages_for 'attachment' %>
<%= form_tag(project_files_path(@project), :multipart => true, :class => "tabular") do %>
<div class="box">
  <% if @versions.any? %>
  <p>
    <label for="version_id"><%=l(:field_version)%></label>
    <%= select_tag "version_id", content_tag('option', '') +
                                 options_from_collection_for_select(@versions, "id", "name") %>
  </p>
  <% end %>
<!--label><%=l(:label_attachment_plural)%></label -->
  <%= render :partial => 'attachments/form' %>
  <ul id="demo1"></ul>
  
</div>
<%#= submit_tag l(:button_add) %>
<div class="btn-group" style="float:right">
    <%= link_to l(:button_add), "#top", :class => 'btn', :onclick =>"$('#hidden_submit').attr('name','commit');$('.tabular').submit();" %>
    <%= link_to_function l(:button_cancel), "history.back()", :class => 'btn', :style => 'float:right' %>
</div>
  <%= hidden_field_tag 'hidden_submit', '' %>
<% end %>