<h2><%=l(:label_attachment_new)%></h2>

<%= error_messages_for 'attachment' %>
<%= form_tag(project_files_path(@project), :multipart => true, :class => "tabular") do %>
<div class="box">
  <% if @versions.any? %>
  <p>
    <label for="version_id"><%=l(:field_version)%></label>
    <%= select_tag "version_id", content_tag('option', '') +
                                 options_from_collection_for_select(@versions, "id", "name") %>
  </p>
  <% end %>
<!--label><%=l(:label_attachment_plural)%></label -->
  <%= render :partial => 'attachments/form' %>
  <ul id="demo1"></ul>
  
</div>
<%= submit_tag l(:button_add) %>
<% end %>

<% content_for :header_tags do %>
    <%= javascript_include_tag "jquery-ui.1.8.20.min.js" %> 
    <%= javascript_include_tag 'tag-it.js' %>
    <%= stylesheet_link_tag 'tagit-simple-green' %>
    <%= javascript_tag '
    jQuery(function () {
	  var availableTags = [
		"ActionScript",
		"AppleScript",
		"Asp",
		"BASIC",
		"C",
		"C++",
		"Clojure",
		"COBOL",
		"ColdFusion",
		"Erlang",
		"Fortran",
		"Groovy",
		"Haskell",
		"Java",
		"JavaScript",
		"Lisp",
		"Perl",
		"PHP",
		"Python",
		"Ruby",
		"Scala",
		"Scheme"
	  ];

	  jQuery(".meta_information").tagit({tagSource:availableTags, select:true, sortable:true, fieldName: "attachments[1][meta_information]" });
	  });
	  
	  ' %>
<% end %>