<div id="titleOfProject"><h1><%= link_to(h(@project.name)+' <i class="icon-beaker"></i>'.html_safe, :action => 'show', :id => @project.id).html_safe unless @project.nil?%></h1></div>

<h2 style="float:left;"><%= @query.new_record? ? l(:label_calendar) : h(@query.name) %> (<%= month_name(@month)%> <%= @year%>)  <i class="icon-calendar"></i></h2>
<div class="btn-group btn-group-right" >
<%= link_to l(:label_appointment_new), params.merge(:new => 1), :class => 'btn' %>
<% if User.current.allowed_to?({ :controller => 'issues', :action => 'new' }, @project)%>
  <%= link_to l(:label_issue_new), { :controller => 'issues', :action => 'new' }, :param => :project_id, :class => 'btn' %>
<% elsif @project.nil? && session[:current_view_of_eScience] == "0" && Project.private_scope.count > 0 %>
  <%= link_to l(:label_issue_new), { :controller => 'issues', :action => 'new_with_decision'}, :param => :project_id, :class => 'btn' %>
<% end %>
</div>
<div class="clear"></div>

<%= form_tag(params.merge(:project_id => @project),
             :post => :get, :id => 'query_form') do %>
  <%= hidden_field_tag 'set_filter', '1' %>
  <fieldset class="collapsable">
    <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
    <div>
      <%= render :partial => 'queries/filters', :locals => {:query => @query} %>
    </div>
    <div class="selectors">
      <%= label_tag('month', l(:label_month)) %>
      <%= select_month(@month, :prefix => "month", :discard_type => true) %>
      <%= label_tag('year', l(:label_year)) %>
      <%= select_year(@year, :prefix => "year", :discard_type => true) %>
    </div>
    <%= hidden_field_tag 'hidden_submit_set_filter', '' %>
    <div class="btn-group btn-group-right">
      <%= link_to l(:button_clear), { :project_id => @project, :set_filter => 1 }, :class => 'btn' %>
      <%= link_to l(:button_apply), "#", :class => 'btn', :onclick =>"$('#hidden_submit_set_filter').attr('name','commit');$('#query_form').submit();" %>
      <%#= submit_tag l(:button_apply) %>
    </div>
  </fieldset>

  <div id="changeMonth">
    <div class="prev"><%= link_to_previous_month(@year, @month,:remote => true) %></div><div class="next"><%= link_to_next_month(@year, @month) %></div>
  </div>
<% end %>
<div style="clear:both"></div>


<%= error_messages_for 'query' %>
<% if @query.valid? %>
<div id="calendar">
<%= render :partial => 'common/calendar', :locals => {:calendar => @calendar} %>
</div>

<div class="legend cal">
  <div class="starting"><div class="box">&nbsp;</div><%= l(:text_tip_issue_begin_day) %></div>
  <div class="clear"></div>
  <div class="ending"><div class="box">&nbsp;</div><%= l(:text_tip_issue_end_day) %></div>
  <div class="clear"></div>
  <div class="starting ending"><div class="box">&nbsp;</div><%= l(:text_tip_issue_begin_end_day) %></div>
</div>
<% end %>
<%= javascript_tag "$('document').ready(function(){$('.cal a').attr('title','')});" %>

<% content_for :sidebar do %>
    <%= render :partial => 'issues/sidebar' %>
<% end %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'calendar' %>
<% end %>

<% html_title(l(:label_calendar)) -%>

<div id="addEvent">
  <div class="background_hider" onclick="$('#addEvent').fadeOut();"></div>
  <div class="content"><%= render :partial=> 'appointments/new' %></div>
</div>
<%= javascript_tag "
  $.extend($.fn.disableTextSelect = function() {
    return this.each(function(){
      if($.browser.mozilla){
        $(this).css('MozUserSelect','none');
      }else if($.browser.msie){
        $(this).bind('selectstart',function(){return false;});
      }else{
        $(this).mousedown(function(){return false;});
      }
    });
  });
  $(function() {
    $('.td_box').dblclick(function () {
      $('#appointment_start_date').val($(this).find('.day-num').attr('title'));
      $('#appointment_due_time').parent().removeClass('cycle');
      $('#appointment_cycle').val(0).attr('selected',true);
      $('#addEvent').fadeIn();
      $('#appointment_subject').focus();
    });
    $('.noSelect').disableTextSelect();
  });
  "
%>
<%= javascript_tag "$(function() {$('#addEvent').show()});" if params[:new] %><% content_for :header_tags do %>
    <%= stylesheet_link_tag 'appointments', :plugin => 'redmine_appointments' %>
<% end %>
