  <% unless @appointment.nil? %>
  <%= form_for(@appointment,:url=>{:controller => 'appointments',:action=>'create', :view => 'calendar'}, :remote => true, :html => {:id => 'issue-form', :multipart => true}) do |f| %>

  <h2 style="margin-bottom:0px;"><%= l(:label_appointment_new) %></h2>
  <div class="box" style="padding-top: 10px;">
    <fieldset class="tabular">
      <div id="all_attributes">
        <%= render :partial => 'appointments/form', :locals => { :f => f } %>
      </div>
    </fieldset>

    <p><%#= render :partial => 'attachments/form', :locals => {:container => @appointment} %></p>
    
    <fieldset>
      <% if @appointment.safe_attribute? 'watcher_user_ids' -%>
      <label><%= l(:label_issue_watchers) %></label><br />
        <p id="watchers_form">
        <span id="watchers_inputs">
          <%= watchers_checkboxes(@appointment, @available_watchers) %>
        </span>
        <span class="search_for_watchers">
        <%= link_to l(:label_search_for_watchers),
                    {:controller => 'watchers', :action => 'new', :project_id => 3},
                    :remote => true,
  				  :method => 'get' %>
        </span>
        </p>
      <% end %>
    </fieldset>
  </div>
  
  <%= link_to_function l(:button_cancel), "$('#addEvent').fadeOut();", :class => 'button', :style => '60px' %>
  <%= submit_tag l(:button_create) %>
  <%= submit_tag l(:button_create_and_continue), :name => 'continue' %>
  <%= javascript_tag "$('#appointment_subject').focus();" %>
<% end %>
<%end%>

<% content_for :header_tags do %>
    <%= robot_exclusion_tag %>
    <%= javascript_include_tag 'ckeditor/ckeditor.js' %>
    <%= stylesheet_link_tag 'ckeditor/editor' %>
    <%= stylesheet_link_tag 'issues' %>
<% end %>
