  <%= form_for(@appointment,:url=>{:action=>'create'}, :html => {:id => 'appointment-form', :multipart => true}) do |f| %>

  <h2 style="float:left; position:absolute"><%= l(:label_appointments) %> <i class="icon icon-calendar calendar"></i></h2>
  <div class="btn-group" style="float:right;">
    <%= link_to_function l(:button_cancel), "history.back()", :class => 'btn' %>
    <%= link_to l(:button_save), "#top", :class => 'btn', :onclick =>"$('#hidden_submit').attr('name','commit');$('#appointment-form').submit();" %>
    <%= link_to l(:button_create_and_continue), "#top", :class => 'btn', :onclick =>"$('#hidden_submit').attr('name','continue');$('#appointment-form').submit();" %>
  </div>
  <%= hidden_field_tag 'hidden_submit', '' %>
  <div class="clear"></div>
  <div class="box" style="padding-top: 10px;">
    <fieldset class="tabular"><legend><%= l(:label_appointment_new) %></legend>
      <div id="all_attributes">
        <%= render :partial => 'form', :locals => { :f => f } %>
      </div>
    </fieldset>

    <p><%= render :partial => 'attachments/form', :locals => {:container => @appointment} %></p>
    
    <fieldset>
      <% if @appointment.safe_attribute? 'watcher_user_ids' -%>
      <label><%= l(:label_issue_watchers) %></label><br />
        <p id="watchers_form">
        <span id="watchers_inputs">
          <%= watchers_checkboxes(@appointment, @available_watchers) %>
        </span>
        <span class="search_for_watchers">
        <%= link_to l(:label_search_for_watchers),
                    {:controller => 'watchers', :action => 'new', :project_id => 3},
                    :remote => true,
  				  :method => 'get' %>
        </span>
        </p>
      <% end %>
    </fieldset>
  </div>
  <div class="btn-group" style="float:right;">
    <%= link_to l(:button_cancel), @referer, :class => 'btn' %>
    <%= link_to l(:button_save), "#top", :class => 'btn', :onclick =>"$('#hidden_submit').attr('name','commit');$('#appointment-form').submit();" %>
    <%= link_to l(:button_create_and_continue), "#top", :class => 'btn', :onclick =>"$('#hidden_submit').attr('name','continue');$('#appointment-form').submit();" %>
  </div>
  <%= javascript_tag "$('#appointment_subject').focus();" %>
<% end %>


<% content_for :header_tags do %>
    <%= robot_exclusion_tag %>
    <%= javascript_include_tag 'ckeditor/ckeditor.js' %>
    <%= stylesheet_link_tag 'ckeditor/editor' %>
    <%= stylesheet_link_tag 'issues' %>
<% end %>
