  <% unless invitation.answer.nil? %>
    <% case invitation.friendship_status_id %>
      <% when FriendshipStatus["accepted"].id %>
        <div class="icon-ok" style="font-size: 50px; top: -40px; left: 40px; opacity: 0.4; position: relative; 
                                                        writing-mode: tb-rl; -webkit-transform: rotate(-30deg); -moz-transform: rotate(-30deg);
                                                        -ms-transform: rotate(-30deg); -o-transform: rotate(-30deg); transform: rotate(-30deg);">
          <%if invitation.group.class == Project %>
            <%= link_to(l(:accepted), project_path(invitation.group))%>
          <%else%>
            <%= l(:accepted)%>
          <%end%>
        </div>
      <% when FriendshipStatus["pending"].id %>
        <%= form_tag url_for(:controller => 'group_invitations', :action => 'selection', :id => invitation.id), :remote => true do%> 
          <h2>
            <%= l(:group_invitation_for) %>
            <%= l("label_#{invitation.group.class.name.singularize.downcase}".to_sym) %><%= " #{invitation.group.name}" %>
          </h2>
            <%=submit_tag(l(:label_accept),:name => "true")%>
            <%=submit_tag(l(:label_cancel),:name => "false")%>
        <%end%>
      <%when FriendshipStatus["denied"].id%>
        <div class="icon-remove" style="font-size: 50px; top: -40px; left: 40px; opacity: 0.4; position: relative; 
                                                        writing-mode: tb-rl; -webkit-transform: rotate(-30deg); -moz-transform: rotate(-30deg);
                                                        -ms-transform: rotate(-30deg); -o-transform: rotate(-30deg); transform: rotate(-30deg);">
          <%= l(:denied)%>
        </div>
      <%else%>
        <%= l(:error) %>
    <%end%>
  <%end%>
</fieldset>