<% if @project.boards.any? %>
<table class="list" width="100%">
  <thead><tr>
    <th><%= l(:label_board) %></th>
    <th><%= l(:field_description) %></th>
    <th></th>
    <th></th>
  </tr></thead>
  <tbody>
<% Board.board_tree(@project.boards) do |board, level|
  next if board.new_record? %>
  <tr class="<%= cycle 'odd', 'even' %>">
    <td style="padding-left: <%= level * 18 %>px;"><%= link_to board.name, project_board_path(@project, board) %></td>
    <td><%= textilizable board, :description %></td>
    <td style="width:50px">
    <% if authorize_for("boards", "edit") %>
      <%= reorder_links('board', {:controller => 'boards', :action => 'update', :project_id => @project, :id => board}, :put) %>
    <% end %>
    </td>
    <td align="right" width="75px">
    <% if User.current.allowed_to?(:manage_boards, @project) %>
      <div class="btn-group">
        <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_project_board_path(@project, board), :class => 'btn btn-small' %>
        <%= delete_link project_board_path(@project, board), :class => 'btn btn-small', :no_text => true %>
      </div>
    <% end %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>
<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<% if User.current.allowed_to?(:manage_boards, @project) %>
  <div style="float:right; margin: 7px 0;"><%= link_to l(:label_board_new), new_project_board_path(@project), :class => 'btn' %></div>
  <div class="clear"></div>
<% end %>
