<%= error_messages_for 'member' %>
<% roles = Role.find_all_givable %>
<% members = @project.member_principals.find(:all, :include => [:roles, :principal]).sort %>

<div class="splitcontentleft">
  <% if members.any? %>
  <table class="list members" cellspacing="0" width="100%" style="margin:15px 0 0 20px">
    <thead>
      <tr>
        <th><%= l(:label_user) %> / <%= l(:label_group) %></th>
        <th><%= l(:label_role_plural) %></th>
        <th style="width:15%"></th>
        <%= call_hook(:view_projects_settings_members_table_header, :project => @project) %>
      </tr>
    </thead>
    <tbody>
    <% members.each do |member| %>
      <% next if member.new_record? %>
      <tr id="member-<%= member.id %>" class="<%#= cycle 'odd', 'even' %> member">
        <td class="<%= member.principal.class.name.downcase %>" valign="top"><%= link_to_user member.principal %></td>
        <td class="roles">
          <span id="member-<%= member.id %>-roles"><%=h member.roles.sort.collect(&:to_s).join(', ') %></span>
          <%= form_for(member, {:as => :membership, :remote => true, :url => membership_path(member),
                                              :method => :put,
                                              :html => { :id => "member-#{member.id}-roles-form", :class => 'hol' }}
                 ) do |f| %>
            <div style="border: 1px solid #f2f2f2">
              <div style="float:left;">
                <% roles.each do |role| %>
                  <%= check_box_tag 'membership[role_ids][]', role.id, member.roles.include?(role), :disabled => member.member_roles.detect {|mr| mr.role_id == role.id && !mr.inherited_from.nil?} %>
                  <label><%=h role %></label>
                  <div class="clearfix"></div>
                <% end %>
              </div>
              <%= hidden_field_tag 'membership[role_ids][]', '' %>
              <div style="float:left;">
                <%= hidden_field_tag 'hidden_change', '' %>
                <div class="btn-group" style="padding: 3px 3px 0 0">
                  <%= link_to '<i class="icon-ok"></i>'.html_safe, "#top", :class => 'btn', :onclick =>"$('#hidden_change').attr('name','commit');$('form.hol').submit();", :style => "padding:2px; width:15px;" %>
                  <%= link_to_function '<i class="icon-remove"></i>'.html_safe, "$('#member-#{member.id}-roles').show(); $('#member-#{member.id}-roles-form').hide(); $('#member-#{member.id}').removeClass('edit'); $(this).closest('tr').find('.icon-pencil').attr('style',''); return false;", :class => 'btn', :style => "padding:2px; width:15px;" %>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          <% end %>
        </td>
        <td style="padding-left:10px; width:40px" valign="top">
          <%= link_to_function '<i class="icon-pencil"></i>'.html_safe, "$('#member-#{member.id}-roles').hide(); $('#member-#{member.id}-roles-form').show(); $('#member-#{member.id}').addClass('edit');$(this).css('color', '#bbb'); return false;", :style => 'float:left; margin-right: 3px' %>
          <%= delete_link membership_path(member), :remote => true, :no_text => true, :data => (!User.current.admin? && member.include?(User.current) ? {:confirm => l(:text_own_membership_delete_confirmation)} : {}) if member.deletable? %>
        </td>
        <%= call_hook(:view_projects_settings_members_table_row, { :project => @project, :member => member}) %>
      </tr>
    <% end; reset_cycle %>
    </tbody>
  </table>
  <% else %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% end %>
</div>

<div class="splitcontentright" id="profile" style="margin-top:20px;">
<% if roles.any? %>
  <%#= form_for(@member, {:as => :membership, :remote => true,
                     :url => project_memberships_path(@project), :method => :post } ) do |f| %>

    <%= form_tag({:controller => 'group_invitations', :action => 'create'}, :remote => true,:loading => '$(\'#member-add-submit\').attr(\'disabled\', true);',
                     :complete =>'$(\'#member-add-submit\').removeAttr(\'disabled\')', :id => 'new_membership') do |f| %>
    <%= javascript_tag '
    $(\'#new_membership\').bind({
      \'ajax:before\': function () {
        $(\'#member-add-submit\').attr(\'disabled\',true);
      },
      \'ajax:complete\': function () {
        $(\'#member-add-submit\').removeAttr(\'disabled\');
      }
    });'%>
    <fieldset>
      <legend><%=l(:label_member_new)%></legend>
      <p><%= label_tag "principal_search", l(:label_principal_search) %><%= text_field_tag 'principal_search', nil %></p>
      <%= javascript_tag "observeSearchfield('principal_search', 'principals', '#{ escape_javascript autocomplete_project_memberships_path(@project) }')" %>
      <div id="principals" class="membership">
      </div>

      <p class="membership"><%= l(:label_role_plural) %>:
      <% roles.each do |role| %>
        <label><%= check_box_tag 'membership[role_ids][]', role.id %> <%=h role %></label>
      <% end %></p>
      <%= hidden_field_tag 'hidden_submit', '' %>
      <%= hidden_field_tag 'controller_name', params[:controller] %>
      <div style="clear:both"></div>
      <div class="btn-group" style="float:right; margin: 7px 0;">
      <%= link_to l(:button_invite), "#top", :class => 'btn', :onclick =>"$('#hidden_submit').attr('name','commit'); $('#member-add-submit').attr('disabled', true); $('#new_membership').submit();", :id => 'member-add-submit' %>
      <%#= submit_tag l(:button_add), :id => 'member-add-submit' %>
      <% if User.current.admin? %>
        <%= javascript_tag "
          function change_action(){
            $('#new_membership').attr('action','#{url_for(project_memberships_path(@project))}');
          };"
        %>

        <%= link_to l(:button_add), "#top", :class => 'btn', :onclick => "change_action(); $('#hidden_submit').attr('name','commit'); $('#member-add-submit').attr('disabled', true); $('#new_membership').submit();" %>
      <% end %>
      </div>
    </fieldset>
  <% end %>
<% end %>
</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'profile' %>
<% end %>

