<% content_for :sidebar do %>
	<%= call_hook(:view_my_account_contextual, :user => @user)%>
	<%#= render :partial => 'sidebar' %>
<% end %>

<div id="change_avatar_wrapper">
  <%= render :partial => 'users/crop_profile_photo' %>
</div>

<%= labelled_form_for :user, @user,
                     :url => { :action => "account" },
                     :html => { :id => 'my_account_form',
                                :method => :post } do |f| %>
  <%= hidden_field_tag 'hidden_submit', '' %>
  <h2 style="float:left"><%=l(:label_my_account)%> <li class="icon-user"></li></h2>
  <div class="btn-group" style="float:right;">
    <%= link_to l(:button_save), "#", :class => 'btn', :onclick =>"$('#hidden_submit').attr('name','commit');$('#my_account_form').submit();" %>
    <%= link_to(l(:preview), {:controller => 'users', :action => 'show', :id => @user.id}, :class => 'btn') %>
    <%= link_to(l(:button_change_password), {:action => 'password', :sub => 'my_account'}, :class => 'btn') if @user.change_password_allowed? %>
    <%#= submit_tag l(:button_save) %>
  </div>
  <div class="clear"></div>

  <%= error_messages_for 'user' %>
  <%= render :partial => 'security_settings', :locals => {:user => @user}%>
  <%= render :partial => 'edit_interest', :locals => {:user => @user}%>
  <div id="profile">
  <fieldset id="information" class="box tabular">
    <legend><%=l(:label_information_plural)%></legend>
    <div style="float:right;">
      <p>Avatar</p>
      <!-- div style="margin-top: 10px;" -->
      <div id="avatar_preview">
      <a href="#" onclick="show_change_avatar();">
        <% if @user.avatar %>
          <%= image_tag( @user.avatar.photo(:medium), :height => '180', :id => 'preview') %>
        <% else %>
          <%= image_tag( 'avatar.png', :height => '180', :id => 'preview') %>
        <% end %>
      </a>  
      </div>
    </div>
    <%= f.select :salutation, gender_options_for_select, :required => true %><span class="distanceholder"></span>
    <%= f.select :title, title_options_for_select, :required => true %><br />
    <%= f.text_field :mail, :required => true, :style => "width:437px;" %><br />
    <%= f.text_field :firstname, :required => true %><span class="distanceholder"></span>
    <%= f.text_field :lastname, :required => true %><br />
    <%= f.text_field :phone, :required => false %><span class="distanceholder"></span>
    <%= f.text_field :fax, :required => false %><br />
    <%= f.text_field :department, :required => false, :style => "width:437px;" %><br />
    <%= f.text_field :street, :required => false, :style => "width:437px;" %><br />
    <%= f.text_field :city, :required => false %><span class="distanceholder"></span>
    <%= f.text_field :zipcode, :required => false %><br />
    <%= f.select :language, lang_options_for_select %><br />
  
    <% @user.custom_field_values.select(&:editable?).each do |value| %>
      <p><%= custom_field_tag_with_label :user, value %></p>
    <% end %>
    <%= call_hook(:view_my_account, :user => @user, :form => f) %>
  </fieldset>
  
  <fieldset id="mailnews" class="box">
    <legend><%=l(:field_mail_notification)%></legend>
    <%= render :partial => 'users/mail_notifications' %>
  </fieldset>
  
  <fieldset id="preferences" class="box tabular">
    <legend><%=l(:label_preferences)%></legend>
    <%= render :partial => 'users/preferences' %>
  </fieldset>
  
  <fieldset id="private_project">
    <% @project = User.current.private_project%>
    <% @wiki = @project.wiki %>
    <%= render_tabs private_project_settings_tabs %>  
  </fieldset>
  <%= link_to l(:button_save), "#", :class => 'btn', :onclick =>"$('#hidden_submit').attr('name','commit');$('#my_account_form').submit();", :style =>'float:right' %>
  <%#= submit_tag l(:button_save) %>
  
  </div>
<% end %>

<% html_title(l(:label_my_account)) -%>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'profile' %>
  <%= stylesheet_link_tag 'jquery.Jcrop.css', :plugin => 'redmine_social'%>
  <%= javascript_include_tag 'jquery.Jcrop.min.js', :plugin => 'redmine_social' %>
  <%= javascript_include_tag 'jquery.form.js', :plugin => 'redmine_social' %>  
<% end %>
<script type="text/Javascript" charset="utf-8">
function hide_change_avatar() {
  $('#preview').css({
    width:180, 
    height:180,
    margin: 0
  });
  $('#preview').attr('src','<%= @user.avatar ? @user.avatar.photo(:medium) : '/images/avatar.png' %>');
  $('#change_avatar_wrapper').fadeOut();
}
function show_change_avatar() {
  $('#change_avatar_wrapper').fadeIn();
  <% if @user.avatar %>
  $('#preview').attr('src','<%= @user.avatar.photo(:original) %>'); 
  $("#cropbox").Jcrop({
    onChange: update_crop,
    onSelect: update_crop, 
    setSelect: [0,0,500,500],
    aspectRatio: 1
  });
  <% end %>
  return false;  
}
</script>