<h2><%= l(:label_doodle) %> #<%= @doodle.id %></h2>
<% labelled_tabular_form_for :doodle, @doodle, :url => { :controller => 'doodles', :action => 'update', :id => @doodle}, :html => { :id => 'doodle-form', :method => :put } do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<%= submit_tag l(:button_save) %>
<%= link_to l(:label_preview), 
                   { :url => { :controller => 'doodles', :action => 'preview', :project_id => @project },
                     :remote => true,
                     :method => 'post',
                     :update => 'preview',
                     :with => "Form.serialize('doodle-form')"
                   }, :accesskey => accesskey(:preview) %>
<% end if @project %>
<div id="preview" class="doodle"></div>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'calendar' %>
    <%= javascript_include_tag 'ckeditor/ckeditor.js' %>
    <%= stylesheet_link_tag 'ckeditor/editor' %>
<% end %>
