<% if @project %>
<div class="contextual">
<%= link_to_if_authorized l(:label_post_new),
                          { :controller => 'blogs',
                            :action => 'new',
                            :project_id => @project,
                            :global => true },
                          :class => 'icon icon-add',
                          :onclick => 'Element.show("add-blog"); return false;' %>
</div>

<div id="add-blog" style="display:none;">
  <%= render :partial => 'post' %>
</div>
<% end %>

<h2><%=l(:label_blog_plural)%></h2>

<div class="splitcontentleft25">
  <% @blog_users = Blog.find(:all, :conditions => ["project_id = ?", @project]).collect{|b| b.author}.uniq.sort %>
  <% if @blog_users.any? %>
    <div class="box">
      <h3 class="icon22 icon22-users"><%=l(:label_users_blogs)%></h3>
    <table class="blogs list" width="300">
    <tbody>
      <% @blog_users.each do |user| %>
        <% if user.status == 1 %>
      <tr><td width="32"><%= avatar user, :size => 32 %></td><td><%= link_to h(user.name), :controller => 'blogs', :action => 'index', :author => user, :project_id => @project %></td></tr>
        <% end %>
      <% end %>
    </tbody>
    </table>
    </div>
  <% end %>
  <div class="box">
    <h3 class="icon22 icon22-tags"><%=l(:label_tag_cloud)%></h3>
    <%= render :partial => 'tag_cloud', :locals => {:tag_counts => Blog.tag_counts} %>
  </div>
</div>

<div class="splitcontentright75">
<%= render :partial => 'list', :locals => {:blogs => @blogs} %>
<p class="pagination"><%= pagination_links_full @blogs_pages %></p>

<% other_formats_links do |f| %>
  <%= f.link_to 'Atom', :url => { :action => 'index', :project_id => @project, :key => User.current.rss_key } %>
  <%= f.link_to 'RSS', :url => { :action => 'index', :project_id => @project, :key => User.current.rss_key } %>
<% end if @project %>

</div>

<% html_title(@user ? @user : @tag ? @tag : l(:label_blog_plural)) -%>
