<%= form_tag({:controller => 'journals', :action => 'edit', :id => @journal},
             :remote => true,
             :id => "journal-#{@journal.id}-form") do %>
    <%= label_tag "notes", l(:description_notes), :class => "hidden-for-sighted" %>
    <textarea class="ckeditor" cols="80" id="<%= "journal_#{@journal.id}_notes"%>" name="notes" rows="<%= (@journal.notes.blank? ? 10 : [[10, @journal.notes.length / 50].max, 100].min) %>">
      <%= textilizable(@journal.notes) %>
    </textarea>
    <%#= text_area_tag :notes, @journal.notes,
      #    :id => "journal_#{@journal.id}_notes",
      #    :class => 'wiki-edit',
      #    :rows => (@journal.notes.blank? ? 10 : [[10, @journal.notes.length / 50].max, 100].min) %>
    <%= call_hook(:view_journals_notes_form_after_notes, { :journal => @journal}) %>
    <p style="padding-bottom:20px;"><%= submit_tag l(:button_save) %>
    <%#= preview_link preview_edit_issue_path(:project_id => @project, :id => @journal.issue), 
      #               "journal-#{@journal.id}-form",
      #               "journal_#{@journal.id}_preview" %>
    <%= link_to l(:button_cancel), '#', :onclick => "$('#journal-#{@journal.id}-form').remove(); $('#journal-#{@journal.id}-notes').show(); return false;", :class => "button" %></p>
    <div id="journal_<%= @journal.id %>_preview" class="wiki"></div>    
<% end %>
<% unless @heads_for_wysiwig_formatter_included %>
    <% content_for :header_tags do %>
      <%= javascript_include_tag 'ckeditor/ckeditor.js' %>
      <%= stylesheet_link_tag 'ckeditor/editor' %>
    <% end %>
<%  @heads_for_wysiwig_formatter_included = true
   end %>
<%= javascript_tag("CKEDITOR.replace('journal_#{@journal.id}_notes')") %>

<%#= wikitoolbar_for "journal_#{@journal.id}_notes" %>
