  <% unless @appointment.nil? %>
  <%= form_for(@appointment,:url=>{:controller => 'appointments',:action=>'create', :view => 'calendar'}, :remote => true, :html => {:id => 'issue-form', :multipart => true}) do |f| %>

  <h2><%= l(:label_appointment_new) %></h2>
  <div class="box">
    <fieldset class="tabular">
      <div id="all_attributes">
        <%= render :partial => 'appointments/form', :locals => { :f => f } %>
      </div>
    </fieldset>

    <p><%#= render :partial => 'attachments/form', :locals => {:container => @appointment} %></p>

    <fieldset>
      <% if @appointment.safe_attribute? 'watcher_user_ids' -%>
      <label><%= l(:label_issue_watchers) %></label><br />
        <p id="watchers_form">
        <span id="watchers_inputs">
          <%= watchers_checkboxes(@appointment) %>
        </span>
        </p>
      <% end %>
    </fieldset>
  </div>

  <div class="btn-group btn-group-right">
    <%= link_to_function l(:button_cancel), "$('#addEvent').fadeOut();", :class => 'btn' %>
    <%= link_to l(:button_create), "#top", :class => 'btn', :onclick =>"$('#hidden_submit').attr('name','commit');$('#issue-form').submit();" %>
    <%= link_to l(:button_create_and_continue), "#top", :class => 'btn', :onclick =>"$('#hidden_submit').attr('name','continue');$('#issue-form').submit();" %>
    <%= javascript_tag "$('#appointment_subject').focus();" %>
  </div>
  <%= hidden_field_tag 'hidden_submit', '' %>

<% end %>
<%end%>

<% content_for :header_tags do %>
    <%= robot_exclusion_tag %>
    <%= javascript_include_tag 'ckeditor/ckeditor.js' %>
    <%= stylesheet_link_tag 'ckeditor/editor' %>
    <%= stylesheet_link_tag 'issues' %>
<% end %>
