<fieldset>
  <% unless invitation.answer.nil? %>
    <legend>
      <%= l(:group_invitation_for) %>
      <%= "#{l("label_#{invitation.group.class.name.singularize.downcase}".to_sym)}: "%><u style="color: #606060"><%= " #{invitation.group.name}" %></u>
    </legend>
    <% case invitation.friendship_status_id %>
      <% when FriendshipStatus["accepted"].id %>
        <div class="icon-ok">
          <%if invitation.group.class == Project %>
            <%= link_to(l(:accepted), project_path(invitation.group))%>
          <%else%>
            <%= l(:accepted)%>
          <%end%>
        </div>
      <% when FriendshipStatus["pending"].id %>
        <%= form_tag url_for(:controller => 'group_invitations', :action => 'selection', :id => invitation.id),:id => "group_invitation_#{invitation.id}", :remote => true do%>
            <%= hidden_field_tag 'hidden_submit', '' %>
            <%= link_to l(:label_cancel), "#top", :class => 'button', :onclick =>"$('#hidden_submit').attr('name','false');$('#group_invitation_#{invitation.id}').submit();" %>
            <%= link_to l(:label_accept), "#top", :class => 'button', :onclick =>"$('#hidden_submit').attr('name','true');$('#group_invitation_#{invitation.id}').submit();" %>

        <%end%>
      <%when FriendshipStatus["denied"].id%>
        <div class="icon-remove">
          <%= l(:denied)%>
        </div>
      <%else%>
        <%= l(:error) %>
    <%end%>
  <%end%>
</fieldset>
