<frameset>
  <label>
    <%= l(:title) + ":" %>
  </label>
  <%= f.text_field :title, :size => 35 %>
  <br />
  <label>
    <%= l(:description) + ":" %>
  </label>
  <br />
  <%= f.text_area :description, :size => "58x5" %>

  <%= hidden_field_tag :go_to %>

  <p>
    <%= f.submit button1 %>
    <%= f.submit button2, :onclick => "Form.getInputs(this.form, null, 'go_to')[0].value = 'only_create'" %>
  </p>
</frameset>