<% @container.each do |container_name, container| %>

  <h2 style="float:left;"><%= "#{container_name.to_s.split('@').first.capitalize} #{l(:album).pluralize}"%> <i class="icon icon-picture"></i></h2>
  <%= link_to(l(:new_album), url_for({:controller => 'albums', :action => 'new', :project_id => params[:project_id] }), :style => 'float:right;', :class => 'btn') %>
  <div class="clear"></div>
  <% container.each_with_index do |album,index| %>
    <%next if album.nil?%> 
    <%unless album.title.empty?%>
      <% name = album.title%>
    <%else%>
      <% name = l(:no_name) %> 
    <%end%>
    <%unless(album.photos.nil? || album.photos.empty?) %>
      <style type="text/css">
        <%="\#album_container#{index}:before"%> {
        content: url(<%=album.photos.first.photo.url(:thumb) %>); 
        background-color: <%=album.photos.first.maincolor%>;
        height: 100px;
        width: 100%;
        float: right;
        opacity: 0.6;
        }
      </style>  
        <fieldset id=<%="album_container#{index}"%> style="background-color: <%=album.photos.first.maincolor%>">
        <legend><%= name%></legend>

        <%= link_to(name,url_for({:controller => 'albums', :action => 'show', :project_id => params[:project_id], :id => album.id }))%>
        <div class="btn-group" style="float:right">
          <%= link_to('<i class="icon-trash"></i>'.html_safe, url_for({:controller => 'albums', :action => 'destroy', :id => album.id }),:method => :delete, :confirm => l(:text_are_you_sure), :class => 'btn btn-small', :title => l(:label_album_delete)) %>
        </div>
      

        <%# photo = album.photos.first %>
        <%#= link_to(image_tag(photo.photo.url(:thumb), 
                  :class => "polaroid"), 
                  user_photo_path(photo.user, photo), 
                  {:title => l(:photo_from_user, :photo_description => h(photo.description), :user => photo.user.login)}) unless photo.nil?  %>
        </fieldset>
      <%end%>
    <% end %>
<%end%>