<div id="titleOfProject"><h1><%= link_to(h(@project.name), :controller => 'projects', :action => 'show', :id => @project.id).html_safe unless @project.nil? %> <i class="icon-beaker"></i></h1></div>

<h2 style="float:left;"><%= h @album.title %> <i class="icon icon-picture"></i></h2>
<%= link_to(l(:new_album), url_for({:controller => 'albums', :action => 'new', :project_id => params[:project_id] }), :style => 'float:right;', :class => 'btn') %>
<div class="clear"></div>

<% unless @album.description.empty? %>
  <div class="wiki description"><%= h @album.description %></div>
<% end %>

<h3><%= l(:photos_of_this_album) %></h3>
  <div id='photos' class='yui'>
    <% @album_photos.each do |photo| %>
      <%= link_to(image_tag(photo.photo.url(:thumb), :class => "polaroid"), user_photo_path(photo.user, photo)) %>
    <%end%>
    <%= will_paginate @album_photos %>
  </div>

<h3><%= l(:album_comments) %></h3>
<h4><%= l(:add_your_comment) %></h4>
<p><%= render :partial => 'comments/comments', :locals => {:form_hash => {:action => 'create_general_comment', :controller => 'comments' ,:album_id => @album}, :comments => @album.comments} %></p>
<a "id='newest_comment'">
  <%#= render :partial => 'comments/comment', :collection => @album.comments %>
</a>
<span id='more_comments_links'>
  <%#= more_comments_links(@album) %>
</span>
