<% day = calendar.startdt %>
<table class="cal" width="100%">

<% if small %>
<thead>
  <tr>
    <td valign="top" class="week-number">
      <%= "#{month_name(day.month)} #{day.year} ("+l(:label_week)+": #{(day+(11-day.cwday)%7).cweek})" %>
      <hr>
    </td>
  </tr>
</thead>      
<tbody id="small">
<%while day <= calendar.enddt 
  weekend = (day.wday%7 == 6 || day.wday%7 == 0) %>
  <tr>
    <td class="<%= 'today' if Date.today == day %><%= ' event' if !calendar.events_on(day).empty? %><%= ' weekend' if weekend %>" valign="top" id="day_<%= day.day%>" >
      <div class="td_box">
        <p class="day-num"><%= format_date(day)[0..5] %> <%= day_name(day.wday%7) %></p>
         <% calendar.events_on(day).each do |i| %>
          <div>
            <p class="linkToInfo" id="linkToInfo_<%= i.id %>" style="float:left; clear:left;"><%= link_to_issue(i,{:subject => false, :link_text => h(i.subject).truncate(40)}) %></p>
           <% if i.is_a? Issue %>
           <div class="infobox" id="info_<%= i.id %>"><%= render_issue_tooltip i %></div>
            <% end %>
          </div>
        <% end %>
      </div>
    </td>
<%= '</tr><tr>'.html_safe if day.cwday==calendar.last_wday and day!=calendar.enddt %>
    <% day = day + 1
    end %>
  </tr>
</tbody>

<% else %>

<thead>
  <tr>
    <th scope="col" title="<%= l(:label_week) %>" class="week-number">KW</th>
    <% 7.times do |i| %>
      <th scope="col" width="80" align="center"><%= day_name( (calendar.first_wday+i)%7 ) %></th>
    <% end %>
  </tr>
</thead>
<tbody>
  <tr>
<% day = calendar.startdt
  while day <= calendar.enddt
    weekend = (day.wday%7 == 6 || day.wday%7 == 0)
    if day.cwday == calendar.first_wday %>
      <td valign="top" class="week-number" title="<%= l(:label_week) %>">
        <p><%= (day+(11-day.cwday)%7).cweek %></p>
      </td>
<%  end %>
    <td class="<%= 'today' if Date.today == day %><%= ' event' if !calendar.events_on(day).empty? %><%= ' weekend' if weekend %>" valign="top" id="day_<%= day.day%>" >
      <div class="td_box">
        <p class="day-num"><%= day.day %></p>
         <% calendar.events_on(day).each do |i| %>
         <div style="float:left">        
           <% if (calendar.events_on(day).size < 2) %>
            <p class="linkToInfo" id="linkToInfo_<%= i.id %>" style="float:left; clear:left;"><%= link_to_issue(i,{:subject => false, :link_text => h(i.project).truncate(12)}) %></p>
           <% else %>
            <div class="linkToInfo box" id="linkToInfo_<%= i.id %>" style="background-color: #<%= (16777215-(h(i.project).size)*419820).to_s(16) %>;<%= ' width:10px; height:10px;' if (calendar.events_on(day).size > 8) %>"><%= link_to_issue(i,{:subject => false, :link_text => '&nbsp;', :title => false}) %></div>
           <% end %>
           <% if i.is_a? Issue %>
           <div class="infobox" id="info_<%= i.id %>"><%= render_issue_tooltip i %></div>
            <% end %>
          </div>
        <% end %>
      </div>
    </td>
<%= '</tr><tr>'.html_safe if day.cwday==calendar.last_wday and day!=calendar.enddt %>
    <% day = day + 1
    end %>
  </tr>
</tbody>
<% end %>

</table>


<%= javascript_tag "
  var $j = jQuery.noConflict();
	$j(function() {
	  visiblity = 'visible';
		$j('.linkToInfo').each(function(obj) {
		  $j(this).hover(function() {
		    infobox = $j(this).parent().find('.infobox');
		    infobox.css('visibility','visible');
		    infobox.hover( function () {
		      visiblity = 'visible';
		    }, function () {
		      $j(this).css('visibility','hidden');
		    });
		  }, function () {  
		    visiblity = 'hidden';
		    id = $j(this).attr('id');
		    setTimeout(\"$j('#'+id).parent().find('.infobox').css('visibility',visiblity)\", 1);
		  });
		});
  });
  "%>