<% content_for :sidebar_right_deaktiviert do %>
  <%= link_to(l(:label_personalize_page),{:action => 'page_layout'}, :class => 'icon icon-sort-by-attributes-alt btn') %>
<% end %>

<h2 style="float:left"><%=l(:label_my_page)%> <li class="icon-dashboard"></li></h2>
<%= link_to(l(:label_personalize_page),{:action => 'page_layout'}, :class => 'btn', :style => 'float:right') %>
<div class="clear"></div>
<div id="list-top">
  <% counter = 0;
     @blocks['top'].each do |b|
       b,b_count = extract_block_name(b)
       next unless MyController::BLOCKS.keys.include? b  
     %>
  <fieldset class="mypage-box<%= ((counter+=1) % 3) == 0 ? ' last': '' %>">
    <%= render :partial => "my/blocks/#{b}", :locals => { :user => @user, :block_no => b_count} %>
  </fieldset>
  <% end if @blocks['top'] %>
</div>

<div id="list-left" class="splitcontentleft">
  <% @blocks['left'].each do |b|
     b,b_count = extract_block_name(b)
     next unless MyController::BLOCKS.keys.include? b %>
  <fieldset class="mypage-box">
    <%= render :partial => "my/blocks/#{b}", :locals => { :user => @user, :block_no => b_count} %>
  </fieldset>
  <% end if @blocks['left'] %>
</div>

<div id="list-right" class="splitcontentright">
  <% @blocks['right'].each do |b|
     b,b_count = extract_block_name(b)
     next unless MyController::BLOCKS.keys.include? b %>
  <fieldset class="mypage-box">
    <%= render :partial => "my/blocks/#{b}", :locals => { :user => @user, :block_no => b_count } %>
  </fieldset>
  <% end if @blocks['right'] %>
</div>

<%#= context_menu issues_context_menu_path %>

<% html_title(l(:label_my_page)) -%>
