  <% issues = Issue.visible.open.count(:conditions => {:assigned_to_id => ([User.current.id] + User.current.group_ids)})
     project = @project.nil? ? 'eScience' : @project 
     user_messages = UserMessage.where("receiver_id = ? AND state = 1", User.current.id).count
     message_persons = []
     UserMessage.find(:all,:conditions => {:receiver_id => User.current.id, :state => 1}).each do |msg|
       message_persons << User.find(msg.user_id).to_s()
     end
     persons = message_persons.join(', ')
     if user_messages > 1
       persons[persons.rindex(', ')] = ' '+l(:tooltip_and)+' '
     end
     tooltip_user_messages = user_messages > 0 ? l(:tooltip_navbar_user_messages_count, :count => "#{user_messages}", :persons => "#{persons}") : l(:tooltip_sidebar_user_messages)
     tooltip_events = "<ul class='tooltip'>"
     tooltip_events += "</ul>"
  %>

<% selectedChild = params[:navigation_group].nil? ? '0' : params[:navigation_group] %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title><%=h html_title %></title>
  <meta name="description" content="<%= Redmine::Info.app_name %>" />
  <meta name="keywords" content="issue,bug,tracker" />
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
  <%= csrf_meta_tag %>
  <%= favicon %>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= stylesheet_link_tag 'rtl', :media => 'all' if l(:direction) == 'rtl' %>
  <%= stylesheet_link_tag 'public', :media => 'all' unless User.current.logged?%>
  <%= stylesheet_link_tag 'private', :media => 'all' if User.current.logged?%>
  <%= stylesheet_link_tag 'navigation', :media => 'all' if User.current.logged?%>
  <%= stylesheet_link_tag 'jquery.confirm', :media => 'all' if User.current.logged?%>
  <%= javascript_heads %>
  <%= yield :jquery_tags -%>
  <%= yield :header_tags -%>
  
  <%= javascript_tag '
  function externalLinks() {return $("a[href^=\'http\']:not([href^=\'http://" + window.location.host + "\'])");}
  var message_yes = "'+l(:general_text_Yes)+'";
  var message_cancel = "'+l(:general_text_No)+'";
  var message_title = "'+l(:general_text_dialog)+'";
  $(document).ready(function() {
    externalLinks().attr({target: "_blank"});
    addToolTip(".sidebar .my","'+l(:tooltip_sidebar_organize)+'");
    addToolTip(".sidebar .overview-all","'+l(:tooltip_sidebar_projects)+'");
    addToolTip(".sidebar .user-messages","'+"#{tooltip_user_messages}"+'");
    addToolTip(".sidebar .sent","'+l(:tooltip_sidebar_sent)+'");
    addToolTip(".sidebar .archive","'+l(:tooltip_sidebar_archive)+'");
    addToolTip(".sidebar .trash","'+l(:tooltip_sidebar_trash)+'");
    addToolTip(".sidebar .issues-all","'+l(:tooltip_sidebar_issues_all) + '");
    addToolTip(".sidebar .calendar-all","'+l(:tooltip_sidebar_calendar_all)+'");
    addToolTip(".sidebar .doodles ","'+l(:tooltip_sidebar_doodles)+'");
    addToolTip(".sidebar .overview ","'+l(:tooltip_sidebar_overview, :project => "#{project}")+'");
    addToolTip(".sidebar .issues ","'+l(:tooltip_sidebar_issues, :project => "#{project}")+'");
    addToolTip(".sidebar .calendar ","'+l(:tooltip_sidebar_calendar, :project => "#{project}")+'");
    addToolTip(".sidebar .news ","'+l(:tooltip_sidebar_news)+'");
    addToolTip(".sidebar .blogs ","'+l(:tooltip_sidebar_blogs)+'");
    addToolTip(".sidebar .documents ","'+l(:tooltip_sidebar_documents)+'");
    addToolTip(".sidebar .wiki ","'+l(:tooltip_sidebar_wiki)+'");
    addToolTip(".sidebar .boards ","'+l(:tooltip_sidebar_boards)+'");
    addToolTip(".sidebar .files ","'+l(:tooltip_sidebar_files)+'");
    addToolTip(".sidebar .settings ","'+l(:tooltip_sidebar_settings)+'");
    addToolTip(".sidebar .my-members","'+l(:tooltip_sidebar_contactlist)+'");
    addToolTip("#navigation .issues .announcment","'+l(:tooltip_navbar_issues_explain, :position => "#{issues}")+'", "bottom");
    addToolTip("#navigation .user-messages .announcment","'+l(:tooltip_navbar_user_messages_count, :count => "#{user_messages}", :persons => "#{persons}")+'", "bottom");
    addToolTip("#navigation .calendar-all .announcment",{ url: "'+url_for(:controller => 'calendars', :action => 'get_events_on_current_day')+'" }, "bottom");
    addToolTip("#navigation .my-account","'+l(:tooltip_navbar_account, :name => "#{User.current}") + '", "bottom");
    addToolTip("#navigation .help","'+l(:tooltip_navbar_help) + '", "bottom");
    addToolTip("#navigation .logout","'+l(:tooltip_navbar_logout) + '", "bottom");
    $("ul.roundabout-holder").roundabout({
  		minScale: 0.60,
  		minOpacity: 0.9,
  		maxScale: 1.0,
  		shape: "tearDrop",
  		startingChild: '+selectedChild+',
  		triggerFocusEvents: true,
    });
    $("ul.roundabout-holder li").focus(function() {setParam($("ul.roundabout-holder").roundabout("getChildInFocus"));});
  });
  function setParam(param) {
    if (param=="0") url = "/my/page";
    if (param=="1") url = "/user_messages";
    if (param=="2") url = "/projects/escience";
    self.location.href = url+"?navigation_group="+param;
  }'%>
  
  <%= heads_for_theme %>
  <!--[if IE 6]>
      <style type="text/css">
        * html body{ width: expression( document.documentElement.clientWidth < 900 ? '900px' : '100%' ); }
        body {behavior: url(<%= stylesheet_path "csshover.htc" %>);}
      </style>
  <![endif]-->
  <%= call_hook :view_layouts_base_html_head %>
  <!-- page specific tags -->
</head>

<body class="<%=h body_css_classes %>">
  <div id="confirm" style="width:300px; height:200px; position:absolute"></div>
  <div id="wrapper">
    <div id="separate_footer">
      <header id="header">
        <!-- backgrounds for the top-navigations -->
      	<div class="bar"></div>
      	<div id="header_bg_bar"></div>
      	
      	<!-- logo -->
      	<div class="inside container_16">
      		<div id="logo" class="grid_3 prefix_13">
      			<%= link_to({:controller => 'welcome'}) do %>
      				<img src="<%= Redmine::Utils.relative_url_root %>/images/logo_e-science_network.png" />
      			<%end%>
      		</div>
      		<div class="clear"></div>
      	</div>
      	
      	<!-- Navigation with green background -->
      	<div id="main_navigation">
      		<div class="inside container_16">
      			<div class="grid_13 prefix_3 account_menu">
      				<%= render_menu :top_menu if User.current.logged? || !Setting.login_required? -%>
      		  </div>
      		  <div class="clear"></div>
      		</div>
      	</div>
      
      	<!-- Navigation with gray background -->
      	<div id="navigation">
      		<div class="inside container_16">
      			<div class="grid_13 prefix_3">
      	      <%= render_menu :account_menu -%>
      	    </div>
    		    <div id="quick-search">
    	        <%= form_tag({:controller => 'search', :action => 'index', :id => @project}, :method => :get ) do %>
    		        <%= hidden_field_tag(controller.default_search_scope, 1, :id => nil) if controller.default_search_scope %>
    		        <%= text_field_tag 'q', @question, :placeholder => l(:label_search_plural), :accesskey => accesskey(:quick_search) %>
    		        <%= submit_tag "" %>
    	        <% end %>
    		    </div>
      		  <div class="clear"></div>
      	  </div>
      	</div>