<div class="container_16">
  <div id="navigation_group" class="grid_3 roundabout-holder">
    <ul class="roundabout-holder <%= User.current.logged? ? 'enabled' : 'disabled' %>">
      <li class="roundabout-moveable-item roundabout-in-focus" id="private">
        <% if User.current.logged? %>
          <div class="roundabout_label"><%= l(:label_private) %></div>
          <img src="<%= Redmine::Utils.relative_url_root %>/images/privat_<%= (User.current.female)? 'w' : 'm' %>_grau.png" />
        <% else %>
          <div class="roundabout_label"><%= l(:label_guest) %></div>
          <img src="<%= Redmine::Utils.relative_url_root %>/images/gast_gruen.png" />
        <% end %>
      </li>
      <li class="roundabout-moveable-item" id="team">
        <div class="roundabout_label"><%= l(:label_team) %></div>
        <img src="<%= Redmine::Utils.relative_url_root %>/images/team_grau.png" />
      </li>
      <li class="roundabout-moveable-item" id="community">
        <div class="roundabout_label"><%= l(:label_community) %></div>
        <img src="<%= Redmine::Utils.relative_url_root %>/images/community_grau.png" />
      </li>
    </ul>
  </div>
</div>
