<div class="container_16">
  <div id="navigation_group" class="grid_3">
    <%= content_tag(:ul, class: ['rotation-switch', rotation_switch_enabled? ? 'active': 'inactive']) do %>
      <% rotation_switch_elements.each do |element| %>
        <%= content_tag(:li, class: element[:class]) do %>
          <% if rotation_switch_enabled? %>
            <%= content_tag(:a, href: element[:href]) do %>
              <span class="label"><%= element[:label] %></span>
            <% end %>
          <% else %>
            <span class="label"><%= element[:label] %></span>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
