<%= render :partial => '/layouts/header' %>
    	<!-- Navigation for Team/Community/Private -->
      <%= render :partial => '/layouts/user_scope_menu' %>
    </header>
    <div id="container">
    	<div class="container_inner container_16">
  	    <div id="left" class="grid_3">
  	    	<div id="sidebar_left" class="sidebar">
    		    <div class="headline"><%= l(:label_communication) %></div>
              <%#= render_menu :private_menu %>
              <ul>  
            <%  menu_items_for(:private_menu).each do |node| 
                  new_node = node.clone
                  if session[:current_view_of_eScience] == '0'
                     new_node.setCaptionPrefix("my") 
                  end %>
                  <%= render_menu_node(new_node) %>
              <%end%>
              <%menu_items_for(:project_menu, User.current.private_project).each do |node| %>
                <% unless ((node.name<=>:overview)==0 || (node.name<=>:settings)==0 || (node.name<=>:issues)==0) %>
                  <% node.setCaptionPrefix("my") %>
                  <%= render_menu_node(node, User.current.private_project) %>
                <%end%> 
              <%end %>
              </ul>
    		    
    		    <%= call_hook :view_layouts_base_sidebar %>
            <% if (!@project.nil? && @project != User.current.private_project) %>
              <div class="splitter"><%= l :label_projectspec %></div>
    		      <%#= render_main_menu(@project) %>
    		      <ul>
              <%menu_items_for(:project_menu, @project).each do |node|%>
                <%if (session[:current_view_of_eScience] == '0')%>
                  <%unless ((node.name<=>:news)==0 || (node.name<=>:boards)==0 || (node.name<=>:doodles)==0) %>
                    <%= render_menu_node(node, @project) %>
                  <%end%>
                <%else %>
                    <%= render_menu_node(node, @project) %>
                <%end%>
              <%end%>
              </ul>
            <%end%>
  	    	</div>
		<% unless (yield :sidebar_left) == "" || (yield :sidebar_left) == "  \n" %>
    	    	<div class="sidebar_nav">
            	<%= yield :sidebar_left %>
    	    	</div>
    	    <%end%>

  	    </div>
  	    <div id="main" class="<%= ((yield :sidebar_right) == "" || (yield :sidebar_right) == "  \n") ? 'grid_13': ' grid_10' %>">
	        <%= breadcrumb_list({:max_crumblength => 80, :max_layerlenght => 120}) %>
	        <%= yield %>
	        <%= call_hook :view_layouts_base_content %>
	        <div style="clear:both;"></div>
          <div id="ajax-modal" style="display:none;"></div>
  	    </div>

  	    <div id="right" class="grid_3">
  		    <div id="sidebar_right" class="sidebar<%= ' empty' if ((yield :sidebar_right) == "" || (yield :sidebar_right) == "  \n") %>">
  		    	<%#= render_menu :sidebarright_menu %>
  		    	<% unless (yield :sidebar_right) == "" || (yield :sidebar_right) == "  \n" %>
    		    	<div class="headline"><%= l(:label_specific) %></div>
    		    	<div id="sitespecivic">
    	        	<%= yield :sidebar_right %>
    		    	</div>
  		      <% end %>
          </div>
          <%#= call_hook :view_layouts_base_sidebar %>
  	    </div>
  	    <div class="clear"></div>
      </div>
    </div>    
    <div id="ajax-indicator" style="display:none;"><span><%= l(:label_loading) %></span></div>
    <div id="ajax-modal" style="display:none;"></div>
  </div>
  </div>
<%= render :partial => '/layouts/footer' %>
