<%= render :partial => '/layouts/header' %>
    	<!-- Navigation for Team/Community/Private -->
    	<div class="container_16">
    		<div id="navigation_group" class="grid_3 roundabout-holder">
    		  <ul class="roundabout-holder">
      		  <li class="roundabout-moveable-item roundabout-in-focus" id="private">
        		  <div class="roundabout_label"><%= l(:label_private) %></div>
        		  <img src="<%= Redmine::Utils.relative_url_root %>/images/privat_<%= (User.current.logged? && User.current.female)? 'w' : 'm' %>_grau.png" />
      		  </li>
      		  <li class="roundabout-moveable-item" id="team">
      		    <div class="roundabout_label"><%= l(:label_team) %></div>
      		    <img src="<%= Redmine::Utils.relative_url_root %>/images/team_grau.png" />
      		  </li>
      		  <li class="roundabout-moveable-item" id="community">
      		    <div class="roundabout_label"><%= l(:label_community) %></div>
      		    <img src="<%= Redmine::Utils.relative_url_root %>/images/community_grau.png" />
      		  </li>
      		</ul>
    		</div>
    	</div>	    
    </header>

    <div id="container">
    	<div class="container_inner container_16">
  	    <div id="left" class="grid_3">
  	    	<div id="sidebar_left" class="sidebar">
    		    <div class="headline"><%= l(:label_communication) %></div>
    		    <%= render_menu :private_menu %>
    		    <%= call_hook :view_layouts_base_sidebar %>
		    <div class="splitter"><%= l :label_projectspec %></div>
    		    <%= render_main_menu(@project) %>
  	    	</div>
		    	<% unless (yield :sidebar_left) == "" || (yield :sidebar_left) == "  \n" %>
    	    	<div class="sidebar_nav">
            	<%= yield :sidebar_left %>
    	    	</div>
    	    <% end %>
  	    </div>
  	    <div id="main" class="<%= ((yield :sidebar_right) == "" || (yield :sidebar_right) == "  \n") ? 'grid_13': ' grid_10' %>">
	        <%= breadcrumb_list({:max_crumblength => 80, :max_layerlenght => 120}) %>
	        <%= yield %>
	        <%= call_hook :view_layouts_base_content %>
	        <div style="clear:both;"></div>
          <div id="ajax-modal" style="display:none;"></div>
  	    </div>
  	    <div id="right" class="grid_3">
  		    <div id="sidebar_right" class="sidebar<%= ' empty' if ((yield :sidebar_right) == "" || (yield :sidebar_right) == "  \n") %>">
  		    	<%#= render_menu :sidebarright_menu %>
  		    	<% unless (yield :sidebar_right) == "" || (yield :sidebar_right) == "  \n" %>
    		    	<div class="headline"><%= l(:label_specific) %></div>
    		    	<div id="sitespecivic">
    	        	<%= yield :sidebar_right %>
    		    	</div>
  		      <% end %>
          </div>
          <%#= call_hook :view_layouts_base_sidebar %>
  	    </div>
  	    <div class="clear"></div>
      </div>
    </div>    
    <div id="ajax-indicator" style="display:none;"><span><%= l(:label_loading) %></span></div>
    <div id="ajax-modal" style="display:none;"></div>
  </div>
  </div>
<%= render :partial => '/layouts/footer' %>
