<%= render :partial => '/layouts/header' %>
      <!-- Navigation for Team/Community/Private -->
      <%= render :partial => '/layouts/user_scope_menu' %>
    </header>
      <div class="nosidebar" id="container">
        <div class="container_inner container_16">
          <div id="main" class="grid_16">
            <%= yield %>
            <%= call_hook :view_layouts_base_content %>
            <div style="clear:both;"></div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div id="ajax-indicator" style="display:none;"><span><%= l(:label_loading) %></span></div>
      <div id="ajax-modal" style="display:none;"></div>
    </div>
  </div>
  <%= render :partial => '/layouts/footer' %>
  <%= call_hook :view_layouts_base_body_bottom %>
</body>
