<div class="contextual"><%= link_to l(:button_back), {:controller => 'welcome', :action => 'index'}, :class => 'icon icon-cancel' %>
</div>
<fieldset>
  <legend><h4><%=l(:label_password_lost)%></h4></legend>
  Sie habe Ihr Passwort vergessen? - Kein Problem.<br>
  Geben Sie einfach Ihre E-Mail-Adresse an und wir senden Ihnen umgehend einen Link zu, mit dem Sie Ihr Passwort zurücksetzen können.
  <div class="box" id="lostpassword">
    <%= form_tag(lost_password_path, :class => "tabular") do %>

    <p><label for="mail"><%=l(:field_mail)%> <span class="required">*</span></label>
    <%= text_field_tag 'mail', nil, :size => 40 %>
    <%= submit_tag 'Passwort anfordern' %></p>

    <% end %>
  </div>
</fieldset>